@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: url(/static/fonts/monaspace/MonaspaceNeon-ExtraLightItalic.woff)
    format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: url(/static/fonts/monaspace/MonaspaceNeon-ExtraLight.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: url(/static/fonts/monaspace/MonaspaceNeon-LightItalic.woff)
    format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(/static/fonts/monaspace/MonaspaceNeon-Light.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/static/fonts/monaspace/MonaspaceNeon-Italic.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/static/fonts/monaspace/MonaspaceNeon-Regular.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: url(/static/fonts/monaspace/MonaspaceNeon-MediumItalic.woff)
    format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/static/fonts/monaspace/MonaspaceNeon-Medium.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: url(/static/fonts/monaspace/MonaspaceNeon-SemiBoldItalic.woff)
    format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/static/fonts/monaspace/MonaspaceNeon-SemiBold.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: url(/static/fonts/monaspace/MonaspaceNeon-BoldItalic.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/static/fonts/monaspace/MonaspaceNeon-Bold.woff) format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: url(/static/fonts/monaspace/MonaspaceNeon-ExtraBoldItalic.woff)
    format("woff");
}
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/static/fonts/monaspace/MonaspaceNeon-ExtraBold.woff) format("woff");
}
