:root {
  --side-panel-spacing: 8px;
}

.side-panel {
  display: none;
  width: calc(
    100vw - ((2 * var(--side-panel-spacing)) + (var(--spacing) * 2.5))
  );
  min-width: 250px;
  max-width: 400px;
  border: var(--big-box-border-width) solid var(--big-box-color);
  position: fixed;
  inset-block-start: var(--side-panel-spacing);
  inset-inline-start: 100%;
  transform: translateX(0%);
  transition: transform 0.3s ease-in-out;
  backdrop-filter: brightness(40%) saturate(80%) blur(10px);
  z-index: 2;
  color: var(--color-text-header);
  --big-box-color: var(--color-text-header);

  &.open {
    transform: translateX(calc(-100% - var(--side-panel-spacing)));
  }
  &:has(.side-panel-content:focus-within) {
    transform: translateX(calc(-100% - var(--side-panel-spacing)));
  }
}

[data-has-js] .side-panel {
  display: block;
}

.side-panel-handle {
  position: absolute;
  --handle-index: 0;
  inset-inline-start: 0;
  inset-block-start: calc(
    ((var(--spacing) * 2.5) + var(--side-panel-spacing)) * var(--handle-index)
  );
  transform: translateX(calc(-100% - var(--big-box-border-width)))
    translateY(calc(var(--big-box-border-width) * -1));
  width: calc(var(--spacing) * 2.5);
  height: calc(var(--spacing) * 2.5);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--big-box-border-width) solid var(--big-box-color);
  border-inline-end: none;
  background-color: transparent;
  backdrop-filter: brightness(40%) saturate(80%) blur(10px);
  color: inherit;
}

.loading-content,
.settings-content,
.stickers-content {
  padding: var(--spacing);
}

.loading-content {
  text-align: center;
}

.settings-setting-heading {
  margin-block-start: var(--spacing);
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-half);

  label {
    flex-basis: 40%;
    flex-grow: 1;
    border: var(--big-box-border-width) solid var(--big-box-color);
    color: var(--big-box-color);
    text-align: center;
    padding: var(--spacing-half);
  }
  input:checked + label {
    background-color: var(--big-box-color);
    color: var(--color-text-header-negative);
  }
  input:focus-visible + label {
    outline: 2px solid var(--color-link);
    outline-offset: 2px;
  }
}

.stickers-content {
  background-color: transparent;
  transition: background-color var(--transition-duration) linear;

  &.over {
    background-color: rgba(229 47 49 / 0.1);
  }
}

.sticker-list {
  display: flex;
  gap: var(--spacing-half);
  flex-wrap: wrap;
}

.sticker-list-sticker-item {
  position: relative;
}

.sticker-list-count {
  position: absolute;
  font-size: var(--size-step-min1);
  bottom: 0;
  right: 0;
  color: var(--color-text);
  background-color: var(--color-background-secondary);
  padding: 0em 0.5em;
  border-radius: 0.5em;
}

.sticker-list-empty {
  color: var(--color-text-secondary);
  font-style: italic;
  text-align: center;
}
