{
  "root": true,
  "extends": [
    "airbnb/base",
    "airbnb/hooks",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "prettier/prettier": "warn"
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
        "import/no-unresolved": [
          "error",
          {
            "ignore": ["astro:*"]
          }
        ]
      }
    }
    // ...
  ]
}
