{
  "root": true,
  "extends": [
    "airbnb/base",
    "airbnb/hooks",
    "airbnb-typescript/base",
    "plugin:prettier/recommended",
    "plugin:astro/recommended",
    "plugin:astro/jsx-a11y-recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/prefer-default-export": "off",
    "no-continue": "off",
    "no-plusplus": "off",
    "prettier/prettier": "warn",
    // https://github.com/airbnb/javascript/blob/11ab37144b7f846f04f64a29b5beb6e00d74e84b/packages/eslint-config-airbnb-base/rules/style.js#L340
    // but without the for-of loop rule because Typescript sorts that out
    "no-restricted-syntax": [
      "error",
      {
        "selector": "ForInStatement",
        "message": "for..in loops iterate over the entire prototype chain, which is virtually never what you want. Use Object.{keys,values,entries}, and iterate over the resulting array."
      },
      {
        "selector": "LabeledStatement",
        "message": "Labels are a form of GOTO; using them makes code confusing and hard to maintain and understand."
      },
      {
        "selector": "WithStatement",
        "message": "`with` is disallowed in strict mode because it makes code impossible to predict and optimize."
      }
    ]
  },
  "overrides": [
    {
      "files": ["*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      },
      "rules": {
        // override/add rules settings here, such as:
        // "astro/no-set-html-directive": "error"
        "import/no-unresolved": [
          "error",
          {
            "ignore": ["astro:*"]
          }
        ]
      }
    }
    // ...
  ]
}
