# Hide files from GitHub's language statistics
public/static/pretty-feed-v3.xsl linguist-vendored
public/static/lottie/* linguist-vendored
public/static/fonts/* linguist-vendored
src/lib/shiki/theme.ts linguist-vendored
src/lib/shiki/shiki.css linguist-vendored
src/css/fonts/*.css linguist-vendored
