---
import NotionBlock from "../../components/NotionBlock.astro";
import MinimalLayout from "../../layouts/MinimalLayout.astro";
import { BLOG_COLLECTION_ID } from "../../lib/constants";
import {
  getFilteredPageCollectionItems,
  getPageBlocks,
  getUrlSlugForPage,
} from "../../lib/notion";

const { id } = Astro.params;

export async function getStaticPaths() {
  const pages = await getFilteredPageCollectionItems(BLOG_COLLECTION_ID);

  return pages.map((page) => ({ params: { id: getUrlSlugForPage(page) } }));
}

const blocks = await getPageBlocks(id!);
---

<MinimalLayout>
  <div>
    {blocks.map((block) => <NotionBlock block={block} />)}
  </div>
</MinimalLayout>

<style></style>
