---
import BlogListPageItem from "../../components/notion/blog/BlogListPageItem.astro";
import NotionPageLayout from "../../layouts/NotionPageLayout.astro";
import { BLOG_PAGE_ID } from "../../lib/constants";
import { getPage } from "../../lib/notion";
import { getFilteredBlogItems } from "../../lib/notion/blog";

const page = await getPage(BLOG_PAGE_ID);

const pages = await getFilteredBlogItems({
  allowUnpublished: import.meta.env.DEV,
  allowUnlisted: false,
});
---

<NotionPageLayout
  page={page}
  meta={{ title: "Blog", url: "/blog", rssUrl: "/blog/feed.xml" }}
  breadcrumbs={[
    { name: "Home", url: "/" },
    { name: "Blog", url: "/blog" },
  ]}
>
  <ul class="page-list small-bleed">
    {
      pages.map((childPage) => (
        <li>
          <BlogListPageItem page={childPage} />
        </li>
      ))
    }
  </ul>
</NotionPageLayout>

<style>
  .page-list {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  @media (min-width: 900px) {
    .page-list {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
