---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import { getPageTitleComponents } from "../../lib/notion/titles";
import NotionIcon from "./common/NotionIcon.astro";
import RichText from "./common/RichText.astro";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
}

const { page } = Astro.props;

const titleComponents = getPageTitleComponents(page);
---

<div class="page-header">
  {
    page.icon && (
      <NotionIcon id={`${page.id}-icon`} icon={page.icon} class="page-icon" />
    )
  }
  <h1 class="page-title">
    <RichText components={titleComponents} />
  </h1>
</div>

<style>
  .page-header {
    padding: 1em;
  }

  .page-title {
    text-align: center;
  }

  .page-icon,
  .page-icon > :global(img) {
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 50%;
  }
</style>
