---
import type {
  DatabaseObjectResponse,
  PageObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import { getPageTitleComponents } from "../../lib/notion/titles";
import NotionIcon from "./common/NotionIcon.astro";
import RichText from "./common/RichText.astro";

export interface Props {
  page: DatabaseObjectResponse | PageObjectResponse;
}

const { page } = Astro.props;

const titleComponents = getPageTitleComponents(page);
---

<div class="page-header">
  {
    page.icon && (
      <NotionIcon id={`${page.id}-icon`} icon={page.icon} class="page-icon" />
    )
  }
  <h1 class="page-title">
    <RichText components={titleComponents} />
  </h1>
</div>

<style>
  .page-header {
    padding: var(--spacing);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
  }

  .page-icon {
    background-color: var(--color-background);
  }

  .page-icon,
  .page-icon > :global(img) {
    width: calc(var(--spacing) * 10);
    height: calc(var(--spacing) * 10);
    margin: auto;
    border-radius: 50%;
  }
</style>
