.sticker-unlock-box {
  background-color: var(--color-background-secondary);
  border: 1.5px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: var(--spacing);
  text-align: center;
  font-size: var(--size-step-min1);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-half);
  height: 100%;
}

.sticker-unlock-button {
  border: none;
  padding: 0;
  background-color: transparent;
  transition:
    transform var(--transition-duration) ease-in-out,
    filter var(--transition-duration) ease-in-out,
    opacity var(--transition-duration) ease-in-out;
  filter: grayscale(0);
  opacity: 1;

  &:not(.claimed):hover {
    transform: scale(1.02);
  }
}

.sticker-unlock-claimed {
  filter: grayscale(1);
  opacity: 0.5;
}
