---

---

<div>
  <button
    type="button"
    class="sticker-book-free-stickers-button"
    data-umami-event="stickers-free-stickers"
  >
    Give me more stickers
  </button>
</div>

<style>
  .sticker-book-free-stickers-button {
    display: block;
    margin: 0 auto;
  }
</style>

<script>
  import { getOptionValue, subscribeToOption } from "../../lib/options";
  import {
    type AddStickerEventData,
    STICKER_TYPES_BY_RARITY,
    type StickerTypes,
  } from "../../stickers/stickers";
  import { arrayRandom, range } from "../../util";

  const COMMONS_TO_ADD = 5;
  const UNCOMMONS_TO_ADD = 2;

  function sendAddStickerEvent(type: StickerTypes, pageId?: string) {
    const event = new CustomEvent<AddStickerEventData>("addsticker", {
      detail: { type, pageId },
    });
    window.dispatchEvent(event);
  }

  function addMoreStickers() {
    range(COMMONS_TO_ADD).forEach(() =>
      sendAddStickerEvent(arrayRandom(STICKER_TYPES_BY_RARITY.common)),
    );
    range(UNCOMMONS_TO_ADD).forEach(() =>
      sendAddStickerEvent(arrayRandom(STICKER_TYPES_BY_RARITY.uncommon)),
    );
  }

  document
    .querySelectorAll<HTMLButtonElement>(
      "button.sticker-book-free-stickers-button",
    )
    .forEach((button) => {
      button.addEventListener("click", addMoreStickers);

      const initialEnabled = getOptionValue("stickers") === "on";
      button.classList.toggle("fully-hidden", !initialEnabled);
      subscribeToOption("stickers", (value) => {
        button.classList.toggle("fully-hidden", value !== "on");
      });
    });
</script>
