---

---

<noscript>
  <p class="stickers-toggle-noscript">
    You have Javascript disabled, which means this button won't work. It also
    means the stickers won't work, so I guess there's no problem here?
  </p>
</noscript>
<div>
  <button
    type="button"
    class="stickers-toggle-button"
    data-umami-event="stickers-toggle-disabled"
  >
    Disable stickers
  </button>
</div>

<style>
  .stickers-toggle-noscript {
    color: var(--color-text-secondary);
    font-style: italic;
    font-size: var(--size-step-min1);
  }

  .stickers-toggle-button {
    display: block;
    margin: 0 auto;
  }
</style>

<script>
  import {
    addStickerStoreListener,
    toggleStickersEnabled,
  } from "../../stickers/stickers";

  document
    .querySelectorAll<HTMLButtonElement>("button.stickers-toggle-button")
    .forEach((button) => {
      button.addEventListener("click", () => toggleStickersEnabled());

      function updateButton(isEnabled: boolean) {
        button.dataset.umamiEvent = `stickers-toggle-${
          isEnabled ? "disabled" : "enabled"
        }`;
        button.textContent = isEnabled ? "Disable stickers" : "Enable stickers";
      }

      addStickerStoreListener<boolean>(
        (enabled) => {
          updateButton(enabled);
        },
        (value) => value.enabled,
      );
    });
</script>
