---
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
---

<StandalonePageLayout
  id="404"
  meta={{
    title: "404 - Stuart Thomson",
    description: "Page not found",
    url: "/404",
    noCrawl: true,
  }}
  stickers={{ enabled: false }}
>
  <div class="container big-box-border big-box-padding big-corners">
    <h1 class="title">404</h1>
    <p class="subtitle">Page not found</p>
    <div>Return to <a href="/">home page</a></div>
  </div>
</StandalonePageLayout>

<style>
  body {
    background-color: var(--color-background-error);
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    justify-content: center;
    align-items: center;
  }

  .title {
    font-weight: 800;
  }
</style>
