---
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
---

<StandalonePageLayout
  id="404"
  meta={{
    title: "404 - Stuart Thomson",
    description: "Page not found",
    url: "/404",
    noCrawl: true,
  }}
  noStickers
>
  <h1 class="title">404</h1>
  <p class="subtitle">Page not found</p>
  <div>Return to <a href="/">home page</a></div>
</StandalonePageLayout>

<style>
  :root {
    --color-background: var(--color-background-error);
  }
</style>
