---
import { getCollection } from "astro:content";
import LocalImage from "../components/Images/LocalImage.astro";
import BlogListPageItem from "../components/notion/blog/BlogListPageItem.astro";
import AboutLinks from "../components/notion/overrides/code-blocks/AboutLinks.astro";
import ProjectsItem from "../components/notion/overrides/projects/ProjectsItem.astro";
import OffsetBox from "../components/site/OffsetBox.astro";
import ShaderBackdrop from "../components/site/ShaderBackdrop.astro";
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
import { generateOgImage } from "../lib/og-images";

const NUM_PROJECTS_TO_SHOW = 3;
const NUM_BLOG_POSTS_TO_SHOW = 3;

const ogImage = await generateOgImage({
  id: "home_og",
  layout: "site",
  title: "Home",
});

const projects = (
  await getCollection(
    "projects",
    (entry) => entry.data.properties.Status?.name === "Complete",
  )
).slice(0, NUM_PROJECTS_TO_SHOW);
const blogPosts = (
  await getCollection(
    "pages",
    (entry) => entry.data.properties.Type?.name === "blog",
  )
).slice(0, NUM_BLOG_POSTS_TO_SHOW);
---

<StandalonePageLayout
  id="home"
  meta={{
    title: "Stuart Thomson",
    description: "The website of Stuart Thomson",
    authors: [{ firstName: "Stuart", lastName: "Thomson" }],
    url: "/",
    images: [
      {
        url: new URL(ogImage.path, Astro.site).toString(),
        width: ogImage.width,
        height: ogImage.height,
        mimeType: ogImage.mimeType,
      },
    ],
  }}
  stickers={{ enabled: true, unlockOnScroll: false }}
>
  <div class="container">
    <OffsetBox class="big-corners">
      <ShaderBackdrop id="home" slot="background" />
      <div class="big-box-border big-box-padding big-corners header">
        <LocalImage
          id="profile2023"
          resourcePath="profile-2023.jpg"
          class="profile-photo"
          alt="Stuart Thomson"
          widths={[96]}
          sizes="96px"
          loading="eager"
        />
        <div>
          <p>The website of the person known as</p>
          <h1 class="site-name-heading">Stuart Thomson</h1>
          <p class="tagline">
            who is both a{" "}
            <a href="/software-developer">Software Developer</a>{" and "}<a
              href="/human-being">Human Being</a
            >
          </p>
        </div>
      </div>
    </OffsetBox>

    <div class="flow">
      <p>Hi, it's me.</p>
      <p>
        I'm a software developer who works across the stack, but specialises in
        frontend applications. This website is my little corner of the internet,
        a place for me to put projects I've made or write things I've been
        thinking about. Maybe some of those will be useful to you.
      </p>
    </div>

    <OffsetBox class="big-corners">
      <div class="links big-box-border big-box-padding big-corners">
        <ul class="nav-list">
          <li>
            <a href="/projects">Projects</a>
          </li>
          <li>
            <a href="/blog">Blog</a>
          </li>
          <li>
            <a href="/about">About</a>
          </li>
        </ul>

        <AboutLinks />
      </div>
    </OffsetBox>

    <div class="flow">
      <h3><a href="/projects">Recent projects</a></h3>
      <p>
        Here's a selection of the projects I've done. Chances are you came to
        this website from one of these. Small projects like these are how I keep
        up with whatever's happening in the land of web development, and they
        give me an opportunity to try out new ideas while also making something
        that helps people out.
      </p>
      <div class="projects-list">
        {
          projects.map((entry) => (
            <ProjectsItem
              data={entry.data}
              class="project-card"
              widths={[240, 360]}
              sizes="(min-width: 600px) 360px, 240px"
              showImage
              showTitle
            />
          ))
        }
        <div class="small-box small-box-border big-corners see-more">
          <a href="/projects">See more...</a>
        </div>
      </div>
    </div>

    <div class="flow">
      <h3><a href="/blog">Blog</a></h3>
      <p>
        I quite enoy the act of writing. Writing is one of the ways I organise
        information in my head, while also providing a way for others to learn
        what I've picked up over the years. And if my writing encourages someone
        else to start? Even better.
      </p>
      <div class="projects-list">
        {
          blogPosts.map((entry) => (
            <BlogListPageItem
              page={entry.data.page}
              slug={entry.data.slug}
              showTitle
            />
          ))
        }
        <div class="small-box see-more">
          <a href="/blog">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</StandalonePageLayout>

<style>
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    justify-content: center;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  .header {
    width: 100%;
    display: flex;
    gap: var(--spacing);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .profile-photo {
    width: 96px;
    height: 96px;
  }

  @media (min-width: 900px) {
    .header {
      flex-direction: row;
      text-align: start;
    }

    .site-name-heading {
      font-size: var(--size-step-4) !important;
      font-weight: 1000;
      font-style: italic;
    }
  }

  .tagline {
    font-size: var(--size-step-0) !important;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
  }

  .projects-list {
    margin-inline: auto;
    width: fit-content;
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;

    & > :global(.project-card) {
      width: 100%;
      max-width: 240px;
    }
  }

  @media (min-width: 500px) {
    .projects-list > :global(.project-card) {
      max-width: 360px;
    }
  }

  @media (min-width: 900px) {
    .projects-list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new-shape {
    padding: var(--big-box-spacing);
  }
</style>
