---
import { getCollection } from "astro:content";
import LocalImage from "../components/Images/LocalImage.astro";
import AboutLinks from "../components/notion/overrides/code-blocks/AboutLinks.astro";
import ProjectsItem from "../components/notion/overrides/projects/ProjectsItem.astro";
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
import { generateOgImage } from "../lib/og-images";

const NUM_PROJECTS_TO_SHOW = 3;

const ogImage = await generateOgImage({
  id: "home_og",
  layout: "site",
  title: "Home",
});

const entries = await getCollection(
  "projects",
  (entry) => entry.data.properties.Status?.name === "Complete",
);
const projectItemsToShow = entries.slice(0, NUM_PROJECTS_TO_SHOW);
---

<StandalonePageLayout
  id="home"
  meta={{
    title: "Stuart Thomson",
    description: "The website of Stuart Thomson",
    authors: [{ firstName: "Stuart", lastName: "Thomson" }],
    url: "/",
    images: [
      {
        url: new URL(ogImage.path, Astro.site).toString(),
        width: ogImage.width,
        height: ogImage.height,
        mimeType: ogImage.mimeType,
      },
    ],
  }}
  stickers={{ enabled: true, unlockOnScroll: false }}
>
  <div class="container">
    <div class="header">
      <div class="site-name">
        <LocalImage
          id="profile2023"
          resourcePath="profile-2023.jpg"
          class="profile-photo"
          alt="Stuart Thomson"
          widths={[64]}
          sizes="64px"
          loading="eager"
        />
        <h1 class="site-name-heading">Stuart Thomson</h1>
      </div>
      <h2 class="tagline">
        <a href="/software-developer">Software Developer</a>{" | "}<a
          href="/human-being">Human Being</a
        >
      </h2>
    </div>

    <div class="flow">
      <p>Hi, it's me.</p>
      <p>
        This is just my little corner of the internet, here to be read or
        ignored at your leisure.
      </p>
    </div>

    <div class="links">
      <ul class="nav-list">
        <li>
          <a href="/projects">Projects</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
      </ul>

      <AboutLinks />
    </div>

    <div class="flow">
      <h3 class="visually-hidden"><a href="/projects">Recent projects</a></h3>
      <div class="projects-list">
        {
          projectItemsToShow.map((entry) => (
            <ProjectsItem
              data={entry.data}
              class="project-card"
              widths={[240, 360]}
              sizes="(min-width: 600px) 360px, 240px"
              showImage
              showTitle
            />
          ))
        }
        <div class="small-box see-more">
          <a href="/projects">See more...</a>
        </div>
      </div>
    </div>
  </div>
</StandalonePageLayout>

<style>
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    justify-content: center;
    align-items: center;
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  @media (min-width: 900px) {
    .header {
      align-items: flex-end;
      text-align: end;
    }

    .site-name-heading {
      font-size: var(--size-step-4) !important;
    }

    .profile-photo {
      width: 64px;
      height: 64px;
    }
  }

  .tagline {
    font-size: var(--size-step-0) !important;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
  }

  .projects-list {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;

    & > :global(.project-card) {
      width: 100%;
      max-width: 240px;
    }
  }

  @media (min-width: 500px) {
    .projects-list > :global(.project-card) {
      max-width: 360px;
    }
  }

  @media (min-width: 900px) {
    .projects-list {
      grid-template-columns: 1fr 1fr;
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
