---
import { GithubIcon, MailIcon, LinkedinIcon } from "lucide-react";
import LocalImage from "../components/Images/LocalImage.astro";
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
import { generateOgImage } from "../lib/og-images";

const ogImage = await generateOgImage({
  id: "home_og",
  layout: "site",
  title: "Home",
});
---

<StandalonePageLayout
  id="home"
  meta={{
    title: "Stuart Thomson",
    description: "The website of Stuart Thomson",
    authors: [{ firstName: "Stuart", lastName: "Thomson" }],
    url: "/",
    images: [
      {
        url: new URL(ogImage.path, Astro.site).toString(),
        width: ogImage.width,
        height: ogImage.height,
        mimeType: ogImage.mimeType,
      },
    ],
  }}
>
  <div class="header">
    <LocalImage
      id="profile2023"
      resourcePath="profile-2023.jpg"
      class="profile-photo"
      alt="Stuart Thomson"
      widths={[72, 80, 96]}
      sizes="(min-width: 900px) 96px, (min-width: 600px) 80px, 72px"
      loading="eager"
    />
    <h1>Stuart Thomson</h1>
  </div>

  <ul class="nav-list">
    <li>
      <a href="/projects">Projects</a>
    </li>
    <li>
      <a href="/blog">Blog</a>
    </li>
    <li>
      <a href="/about">About</a>
    </li>
  </ul>
  <ul class="nav-list">
    <li>
      <a
        href="https://github.com/s-thom"
        aria-label="GitHub"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <GithubIcon width={32} />
      </a>
    </li>
    <li>
      <a
        href="mailto:me@sthom.kiwi"
        aria-label="Email"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <MailIcon width={32} />
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/s-thom/"
        aria-label="LinkedIn"
        rel="nofollow noopener noreferrer"
        target="_blank"
      >
        <LinkedinIcon width={32} />
      </a>
    </li>
  </ul>
</StandalonePageLayout>

<style>
  :root {
    --color-background: var(--color-background-header);
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
  }

  .profile-photo {
    width: 72px;
    height: 72px;
    border-radius: 50%;
  }

  @media (min-width: 600px) {
    .profile-photo {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: 900px) {
    .profile-photo {
      width: 96px;
      height: 96px;
    }
  }
</style>
