---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import LocalImage from "../components/Images/LocalImage.astro";
import SiteFooter from "../components/SiteFooter.astro";
import ProjectsItem from "../components/notion/overrides/projects/ProjectsItem.astro";
import DefaultPageBackdrop from "../components/site/DefaultPageBackdrop.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { ACTIVE_PROJECTS_COLLECTION_ID } from "../lib/constants";
import { getFilter } from "../lib/notion/blog";
import { queryDatabase } from "../lib/notion/caches";
import { generateOgImage } from "../lib/og-images";

const NUM_PROJECTS_TO_SHOW = 3;

const activeProjectItems = (await queryDatabase(
  ACTIVE_PROJECTS_COLLECTION_ID,
  getFilter({ allowUnlisted: import.meta.env.DEV }),
  [
    {
      property: "Sorting",
      direction: "descending",
    },
  ],
)) as DatabaseObjectResponse[];
const projectItemsToShow = activeProjectItems.slice(0, NUM_PROJECTS_TO_SHOW);

const ogImage = await generateOgImage({
  id: "home_og",
  layout: "site",
  title: "Home",
});
---

<PageLayout
  id="home"
  class="home flow"
  meta={{
    title: "Stuart Thomson",
    description: "The website of Stuart Thomson",
    authors: [{ firstName: "Stuart", lastName: "Thomson" }],
    url: "/",
    images: [
      {
        url: new URL(ogImage.path, Astro.site).toString(),
        width: ogImage.width,
        height: ogImage.height,
        mimeType: ogImage.mimeType,
      },
    ],
  }}
>
  <div class="site-header full-bleed" slot="site-header">
    <DefaultPageBackdrop class="site-header-backdrop" />
  </div>

  <div class="header">
    <LocalImage
      id="profile2023"
      resourcePath="profile-2023.jpg"
      class="profile-photo"
      alt="Stuart Thomson"
      widths={[80, 128, 160]}
      sizes="(min-width: 900px) 160px, (min-width: 600px) 128px, 80px"
      loading="eager"
    />
    <h1>Stuart Thomson</h1>
    <h2 class="tagline">
      <a href="/about">Software Developer | Human Being</a>
    </h2>
  </div>

  <div class="flow">
    <p>Hi, my name is Stuart and I make things on the internet.</p>
    <p>
      Sometimes I write words, usually to do with whatever part of the software
      industry I'm interested in at the time. Those are all listed on <a
        href="/blog">my blog</a
      >.
    </p>
    <p>
      Alternatively, if you just want to see the things I've made in my spare
      time, most of them being little websites, then I have <a href="/projects"
        >a list of those</a
      > too. The source code for these projects are often <a
        href="https://github.com/s-thom"
        rel="external">up on GitHub</a
      >.
    </p>
  </div>

  <div class="projects-area small-bleed flow">
    <h3>
      <a href="/projects">Recent projects</a>
    </h3>
    <div class="projects-list">
      {
        projectItemsToShow.map((item) => (
          <ProjectsItem
            class="project-card"
            page={item}
            widths={[240]}
            sizes="240px"
            overrides={{}}
            showImage
            showTitle
          />
        ))
      }
    </div>
  </div>

  <SiteFooter slot="site-footer" />
</PageLayout>
