---
import LocalImage from "../components/Images/LocalImage.astro";
import BlogListPageItem from "../components/notion/blog/BlogListPageItem.astro";
import AboutLinks from "../components/notion/overrides/code-blocks/AboutLinks.astro";
import ProjectsItem from "../components/notion/overrides/projects/ProjectsItem.astro";
import ShaderBackdrop from "../components/site/ShaderBackdrop.astro";
import StandalonePageLayout from "../layouts/StandalonePageLayout.astro";
import {
  getPagesCollection,
  getProjectsCollection,
} from "../lib/notion/collections";
import { generateOgImage } from "../lib/og-images";

const NUM_PROJECTS_TO_SHOW = 3;
const NUM_BLOG_POSTS_TO_SHOW = 3;

const ogImage = await generateOgImage({
  id: "home_og",
  layout: "site",
  title: "Home",
});

const projects = (
  await getProjectsCollection(
    (entry) => entry.data.properties.Status?.name === "Complete",
  )
).slice(0, NUM_PROJECTS_TO_SHOW);
const blogPosts = (
  await getPagesCollection(
    (entry) =>
      entry.data.properties.Type?.name === "blog" &&
      entry.data.properties.Status?.name === "Listed",
  )
).slice(0, NUM_BLOG_POSTS_TO_SHOW);
---

<StandalonePageLayout
  id="home"
  meta={{
    title: "Stuart Thomson",
    description: "The website of Stuart Thomson",
    authors: [{ firstName: "Stuart", lastName: "Thomson" }],
    url: "/",
    images: [
      {
        url: new URL(ogImage.path, Astro.site).toString(),
        width: ogImage.width,
        height: ogImage.height,
        mimeType: ogImage.mimeType,
      },
    ],
  }}
>
  <div class="header-container" slot="top">
    <ShaderBackdrop id="home" type="rainbow-bg" slot="background" />
    <header class="big-box-margin big-box-padding header-content">
      <LocalImage
        id="profile2023"
        resourcePath="profile-2023.jpg"
        class="profile-photo"
        alt="Stuart Thomson"
        widths={[96]}
        sizes="96px"
        loading="eager"
      />
      <div>
        <p>The website of the person known as</p>
        <h1 class="site-name-heading">Stuart Thomson</h1>
      </div>
    </header>
  </div>
  <div class="container">
    <div class="flow">
      <p>Hi, it's me.</p>
      <p>
        I'm a software developer who works across the stack, but specialises in
        frontend applications. This website is my little corner of the internet,
        a place for me to put projects I've made or write things I've been
        thinking about. Maybe some of those will be useful to you.
      </p>
    </div>

    <div class="flow">
      <h3><a href="/projects">Recent projects</a></h3>
      <p>
        Here's a selection of the projects I've done. Chances are you came to
        this website from one of these. Small projects like these are how I keep
        up with whatever's happening in the land of web development, and they
        give me an opportunity to try out new ideas while also making something
        that helps people out.
      </p>
      <div class="projects-list">
        {
          projects.map((entry) => (
            <ProjectsItem
              data={entry.data}
              class="project-card"
              widths={[240, 360]}
              sizes="(min-width: 600px) 360px, 240px"
              showImage
              showTitle
              showGitHub
            />
          ))
        }
        <div class="small-box big-box-border big-corners see-more">
          <a href="/projects">See more...</a>
        </div>
      </div>
    </div>

    <div class="flow">
      <h3>About me</h3>
      <p>
        I expect that most people will stop at the things I have made, which is
        why I put that at the top. If you decided to scroll down to here, then
        hi! I've split my about section into two pages, since there are likely
        two reasons you'd want to read about me.
      </p>
      <p>
        If you're here because you want know more about me as a human, then <a
          href="/human-being">Human Being</a
        > is probably where you want to go. If you're here because I applied for a
        job or you want me to work for you, then you probably want to look at the
        <a href="/software-developer">Software Developer</a> page (and then go look
        at the other one).
      </p>
    </div>

    <div class="flow">
      <h3><a href="/blog">Blog</a></h3>
      <p>
        I quite enjoy the act of writing. Writing is one of the ways I organise
        information in my head, while also providing a way for others to learn
        what I've picked up over the years. And if my writing encourages someone
        else to start? Even better. (That's me telling you that you should be
        writing too.)
      </p>
      <div class="projects-list">
        {
          blogPosts.map((entry) => (
            <BlogListPageItem
              page={entry.data.page}
              slug={entry.data.slug}
              showTitle
            />
          ))
        }
        <div class="small-box big-box-border big-corners see-more">
          <a href="/blog">Read more...</a>
        </div>
      </div>
    </div>

    <AboutLinks />
  </div>
</StandalonePageLayout>

<style>
  .header-container {
    position: relative;
    border-block-end: var(--big-box-border-width) solid
      var(--color-border-big-box);
  }

  .header-content {
    position: relative;
    z-index: 1;
    display: flex;
    gap: var(--spacing);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 4);
    justify-content: center;
    align-items: center;

    > * {
      width: 100%;
    }
  }

  .profile-photo {
    width: 96px;
    height: 96px;
  }

  @media (min-width: 900px) {
    .header-content {
      flex-direction: row;
      text-align: start;
    }

    .site-name-heading {
      font-size: var(--size-step-4) !important;
      font-weight: 975;
      font-style: italic;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing);
    text-align: center;
  }

  .projects-list {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: 1fr;

    & > :global(.project-card) {
      width: 100%;
    }
  }

  @media (min-width: 800px) {
    .projects-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1200px) {
    .projects-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .see-more {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .new-shape {
    padding: var(--big-box-spacing);
  }
</style>
