---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import HeaderBackdropMask from "../components/HeaderBackdropMask.astro";
import LocalImage from "../components/Images/LocalImage.astro";
import SiteFooter from "../components/SiteFooter.astro";
import ProjectsItem from "../components/notion/overrides/projects/ProjectsItem.astro";
import DefaultPageBackdrop from "../components/site/DefaultPageBackdrop.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { ACTIVE_PROJECTS_COLLECTION_ID } from "../lib/constants";
import { getFilter } from "../lib/notion/blog";
import { queryDatabase } from "../lib/notion/caches";
import profile2023 from "../resources/profile-2023.jpg";

const NUM_PROJECTS_TO_SHOW = 3;

const activeProjectItems = (await queryDatabase(
  ACTIVE_PROJECTS_COLLECTION_ID,
  getFilter({ allowUnlisted: import.meta.env.DEV }),
  [
    {
      property: "Sorting",
      direction: "descending",
    },
  ],
)) as DatabaseObjectResponse[];
const projectItemsToShow = activeProjectItems.slice(0, NUM_PROJECTS_TO_SHOW);
---

<PageLayout
  id="home"
  class="home flow"
  meta={{ title: "Stuart Thomson", url: "/" }}
>
  <div class="site-header full-bleed" slot="site-header">
    <HeaderBackdropMask
      class="site-header-mask"
      id="home"
      seed="home"
      maskType="waves"
      iconType="none"
    >
      <DefaultPageBackdrop class="site-header-backdrop" />
    </HeaderBackdropMask>
  </div>

  <div class="header">
    <LocalImage
      id="profile2023"
      image={profile2023}
      class="profile-photo"
      alt="Stuart Thomson"
      widths={[80, 128, 160, 256, 320]}
      sizes="(min-width: 900px) 160px, (min-width: 600px) 128px, 80px"
      loading="eager"
    />
    <h1>Stuart Thomson</h1>
    <h2 class="tagline">Software Developer | Human Being</h2>
  </div>

  <div>
    <p>
      Hi, my name is Stuart and I make things on the internet. Sometimes that
      comes in the form of <a href="/projects">small websites</a> or other
      projects, and sometimes in the form of <a href="/blog">blog posts</a>. You
      can also read a little <a href="/about">about me</a> too.
    </p>
  </div>

  <div class="projects-area small-bleed flow">
    <div class="projects-heading">
      <h3>Recent projects</h3>
      <a href="/projects" class="projects-see-more">See more...</a>
    </div>
    <div class="projects-list">
      {
        projectItemsToShow.map((item) => (
          <ProjectsItem
            class="project-card"
            page={item}
            overrides={{}}
            showImage
            showTitle
          />
        ))
      }
    </div>
  </div>

  <SiteFooter slot="site-footer" />
</PageLayout>

<style>
  h1,
  h2,
  h3 {
    max-width: unset !important;
  }

  .site-header {
    position: absolute;
    overflow: hidden;
    max-width: 100vw;
    z-index: -1;
  }

  .site-header-mask {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .home {
    text-align: center;
  }

  .header {
    margin-top: var(--spacing);

    & > *:not(:first-child) {
      margin-top: var(--spacing);
    }
  }

  .profile-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
  }

  @media (min-width: 600px) {
    .profile-photo {
      width: 8rem;
      height: 8rem;
    }
  }

  @media (min-width: 900px) {
    .profile-photo {
      width: 10rem;
      height: 10rem;
    }
  }

  .tagline {
    font-size: var(--size-step-1) !important;
  }

  .links-list {
    display: flex;
    justify-content: center;
    gap: var(--spacing);
  }

  .projects-heading {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-half);
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 400px) {
    .projects-heading {
      flex-direction: row;
      justify-content: center;
      align-items: baseline;
      gap: var(--spacing);
    }
  }

  .projects-area {
    overflow-x: auto;
  }

  .projects-list {
    display: flex;
    gap: var(--spacing);
    overflow-x: auto;
  }

  @media (min-width: 850px) {
    .projects-list {
      justify-content: center;
    }
  }

  .project-card {
    min-width: 15em;
    max-width: 15em;

    & :global(h3) {
      font-size: var(--size-step-1) !important;
    }
  }

  .projects-see-more {
    white-space: nowrap;
    align-self: center;
    font-style: italic;
  }
</style>
