.closed {
  /* Quick hack to make a square button */
  line-height: 1em;
}

.zone {
  position: fixed;
  z-index: 999;
  bottom: var(--spacing);
  right: var(--spacing);
  max-width: calc(100vw - 2rem);
  padding: var(--spacing-half);
  background-color: var(--color-background);
  transition: background-color var(--transition-duration) ease-in-out;
  border: 1.5px solid var(--color-border);
  box-shadow: 0px 2px 4px 3px rgba(0 0 0 / 0.1);
  border-radius: var(--border-radius);
}

.zoneOver {
  background-color: color-mix(
    in srgb,
    var(--color-background) 95%,
    rgb(255 0 0) 5%
  );
}

.header {
  display: flex;
  gap: 1em;
}

.headerTitle {
  flex-grow: 1;
}

.whatLine {
  margin-bottom: 1rem;
}

.what {
  font-size: var(--size-step-min1);
}

.infoIcon {
  height: 1.2em;
  width: 1.2em;
  vertical-align: text-bottom;
  margin-inline-end: 0.25em;
}

.iconButton {
  background-color: transparent;
  color: var(--color-border);
  transition: color var(--transition-duration) ease-in-out;
  border: none;
  justify-self: end;
  grid-column: 2;
  line-height: 1em;
  padding: 0;
  cursor: pointer;
}

.iconButton:hover {
  color: var(--color-text);
}

.close {
  align-self: flex-start;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.stickerWrapper {
  position: relative;
}

.count {
  position: absolute;
  font-size: var(--size-step-min1);
  bottom: 0;
  right: 0;
  background-color: var(--color-alt-background);
  padding: 0em 0.5em;
  border-radius: 0.5em;
}
