---
import type { BulletedListItemBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { getBlockChildren } from "../../../lib/notion";
import RichText from "../common/RichText.astro";
import NotionRenderer from "./NotionRenderer.astro";

export interface Props {
  block: BulletedListItemBlockObjectResponse;
}

const { block } = Astro.props;

const children = block.has_children ? await getBlockChildren(block.id) : [];
---

<li class="flow tiny-flow">
  <p>
    <RichText components={block.bulleted_list_item.rich_text} />
  </p>
  {children.length > 0 ? <NotionRenderer blocks={children} /> : undefined}
</li>
