---
import type { ColumnListBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";

export interface Props {
  block: ColumnListBlockObjectResponse;
}

const { block } = Astro.props;
---

<div class="column-list" data-block={block.id}>
  <slot />
</div>

<style>
  .column-list {
    display: flex;
    gap: 1em;
  }

  .column-list > :global(*) {
    flex: 1 1 0;
    width: 0;
  }
</style>
