---
import type { BlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import DevOnly from "../../DevOnly.astro";

export interface Props {
  block: BlockObjectResponse;
}

const { block } = Astro.props;
---

<DevOnly>
  <div data-block={block.id}>block {block.id} has type {block.type}</div>
</DevOnly>
