---
import type { ParagraphBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import RichText from "./RichText.astro";

export interface Props {
  block: ParagraphBlockObjectResponse;
}

const { block } = Astro.props;
---

<p>
  <RichText components={block.paragraph.rich_text} />
</p>

<style></style>
