---
import type { QuoteBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import RichText from "../common/RichText.astro";

export interface Props {
  block: QuoteBlockObjectResponse;
}

const { block } = Astro.props;
---

<blockquote class="flow" data-block={block.id}>
  <p>
    <RichText components={block.quote.rich_text} />
  </p>
  <slot />
</blockquote>
