---
import type {
  BlockObjectResponse,
  TableBlockObjectResponse,
} from "@notionhq/client/build/src/api-endpoints";
import { getBlockChildren } from "../../../lib/notion/caches";
import NotionRenderer from "./NotionRenderer.astro";
import type { NotionOverrideableProps } from "./types";

export interface Props extends NotionOverrideableProps {
  block: TableBlockObjectResponse;
}

const { block, overrides } = Astro.props;

// Table has its own special behaviour when it comes to children, so doesn't use `<slot />`s.
// If a solution is found, this means we can override tables properly.
const children = block.has_children ? await getBlockChildren(block.id) : [];

let headerRow: BlockObjectResponse | undefined;
let bodyRows = children;
if (block.table.has_column_header) {
  [headerRow, ...bodyRows] = children;
}
---

<table data-block={block.id}>
  {
    headerRow && (
      <thead>
        <NotionRenderer blocks={[headerRow]} overrides={overrides} />
      </thead>
    )
  }
  <tbody>
    <NotionRenderer blocks={bodyRows} overrides={overrides} />
  </tbody>
</table>

<style>
  table {
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 100%;
  }

  table :global(th),
  table :global(td) {
    border: 1.5px solid var(--color-border);
    padding: var(--spacing-half);
  }

  table :global(thead > tr > td),
  table :global(th) {
    background-color: var(--color-alt-background);
  }
</style>
