.pageFloatZone {
  position: absolute;
  top: 0;
  left: 0;
}

.pageDropZone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255 255 255 / 0);
  pointer-events: none;
  transition: background-color 0.2s linear;
}

.pageDropZoneOver {
  background-color: rgba(255 255 255 / 0.25);
}
