:root {
  --sticker-size: 3em;
}

@media (min-width: 900px) {
  :root {
    --sticker-size: 4em;
  }
}

@media (min-width: 1200px) {
  :root {
    --sticker-size: 5em;
  }
}

.stickerCanActivate {
  cursor: pointer;
}

.stickerDrag {
  opacity: 0.5;
  cursor: move;
}
