---
import type { MultiSelectPropertyItemObjectResponse } from "@notionhq/client/build/src/api-endpoints";

export interface Props {
  property: MultiSelectPropertyItemObjectResponse;
}

const { property } = Astro.props;
---

<ul class="tag-list">
  {
    property.multi_select.map((option) => (
      <li class:list={["tag", `tag-${option.color}`]}>{option.name}</li>
    ))
  }
</ul>

<style>
  .tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-half);
  }

  .tag {
    border: 1.5px solid var(--color-border);
    border-radius: var(--border-radius);
    padding: 0 0.2em;
    text-wrap: nowrap;
  }

  .tag-default {
    color: var(--color-text);
    border-color: var(--color-notion-default);
    background-color: var(--color-notion-default-background);
  }
  .tag-gray {
    color: var(--color-text);
    border-color: var(--color-notion-gray);
    background-color: var(--color-notion-gray-background);
  }
  .tag-brown {
    color: var(--color-text);
    border-color: var(--color-notion-brown);
    background-color: var(--color-notion-brown-background);
  }
  .tag-orange {
    color: var(--color-text);
    border-color: var(--color-notion-orange);
    background-color: var(--color-notion-orange-background);
  }
  .tag-yellow {
    color: var(--color-text);
    border-color: var(--color-notion-yellow);
    background-color: var(--color-notion-yellow-background);
  }
  .tag-green {
    color: var(--color-text);
    border-color: var(--color-notion-green);
    background-color: var(--color-notion-green-background);
  }
  .tag-blue {
    color: var(--color-text);
    border-color: var(--color-notion-blue);
    background-color: var(--color-notion-blue-background);
  }
  .tag-purple {
    color: var(--color-text);
    border-color: var(--color-notion-purple);
    background-color: var(--color-notion-purple-background);
  }
  .tag-pink {
    color: var(--color-text);
    border-color: var(--color-notion-pink);
    background-color: var(--color-notion-pink-background);
  }
  .tag-red {
    color: var(--color-text);
    border-color: var(--color-notion-red);
    background-color: var(--color-notion-red-background);
  }
</style>
