---
import type { MultiSelectPropertyItemObjectResponse } from "@notionhq/client/build/src/api-endpoints";

export interface Props {
  property: MultiSelectPropertyItemObjectResponse;
}

const { property } = Astro.props;
---

<ul class="tag-list">
  {
    property.multi_select.map((option) => (
      <li class:list={["tag", `tag-${option.color}`]}>{option.name}</li>
    ))
  }
</ul>
