---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import RichText from "./notion/blocks/RichText.astro";
import NotionProperty from "./notion/properties/NotionProperty.astro";

export interface Props {
  page: DatabaseObjectResponse;
}

const { page } = Astro.props;
---

<h1>
  <RichText components={(page.properties.Name as any).title} />
</h1>
<div>
  <p>
    Cover Source: <NotionProperty property={page.properties["Cover Source"]} />
  </p>
</div>
