---
import Goose from "./Goose.astro";

export interface Props {}

// eslint-disable-next-line no-empty-pattern
const {} = Astro.props;

const THE_YEAR_I_LAST_UPDATED_THIS_FILE = 2023;
---

<footer>
  <span>&copy; Stuart Thomson {THE_YEAR_I_LAST_UPDATED_THIS_FILE}</span>
  <Goose />
</footer>
