---
import LocalImage from "./Images/LocalImage.astro";
import DefaultPageBackdrop from "./site/DefaultPageBackdrop.astro";
import DefaultPageHeader from "./site/DefaultPageHeader.astro";

export interface LinkInfo {
  url: string;
  name: string;
}

export interface Props {
  navItems?: LinkInfo[];
  breadcrumbs?: LinkInfo[];
  shouldBlur?: boolean;
}

const { navItems /* breadcrumbs, */, shouldBlur } = Astro.props;
---

<div class="header-area">
  <div
    class:list={["flow", "header-content", shouldBlur && "header-content-blur"]}
  >
    <header>
      <a href="/" class="site-name">
        <LocalImage
          id="profile2023"
          resourcePath="profile-2023.jpg"
          class="profile-photo"
          alt="Stuart Thomson"
          widths={[64]}
          sizes="64px"
          loading="eager"
        />
        <h1 class="site-name-heading">Stuart Thomson</h1>
      </a>

      {
        navItems && (
          <nav class="site-nav" aria-label="Main">
            <ul class="nav-list">
              {navItems.map((navItem) => (
                <li class="nav-item">
                  <a class="nav-link" href={navItem.url}>
                    {navItem.name}
                  </a>
                </li>
              ))}
            </ul>
          </nav>
        )
      }

      <!-- {
        breadcrumbs && (
          <nav aria-label="Breadcrumbs">
            <ol class="breadcrumb-list">
              {breadcrumbs.map((breadcrumb) => (
                <li class="breadcrumb">
                  <a href={breadcrumb.url}>{breadcrumb.name}</a>
                </li>
              ))}
            </ol>
          </nav>
        )
      } -->
    </header>

    <div class="page-header-container">
      <slot name="page-header">
        <DefaultPageHeader />
      </slot>
    </div>
  </div>

  <div class="backdrop-container">
    <slot name="page-backdrop">
      <DefaultPageBackdrop />
    </slot>
  </div>
</div>

<style>
  .header-area {
    color: var(--color-text-header);
    --big-box-color: var(--color-text-header);
    position: relative;
    display: flex;

    > :global(*) {
      flex-grow: 1;
    }
  }

  .header-content {
    border: var(--big-box-border-width) solid var(--big-box-color);
    margin: var(--big-box-spacing-small);
    padding: var(--big-box-spacing-small);
  }

  @media (min-width: 600px) {
    .header-content {
      margin: var(--big-box-spacing-small) var(--big-box-spacing);
      padding: var(--big-box-spacing-small) var(--big-box-spacing);
    }
  }

  .site-name-heading {
    word-break: break-word;
  }
  .header-content-blur {
    backdrop-filter: brightness(40%) saturate(80%) blur(10px);
  }
</style>
