---
import type { LinkInfo } from "../lib/site/LinkInfo";

export interface Props {
  links: LinkInfo[];
}

const { links } = Astro.props;
---

<div class="skip-links">
  <p>Skip to:</p>
  <ul>
    {
      links.map((link) => (
        <li>
          <a href={link.url}>{link.name}</a>
        </li>
      ))
    }
  </ul>
</div>
