@layer layout {
  :root {
    --area-full-bleed: l-edge / r-edge;
    --area-wide-bleed: l-wide-bleed / r-wide-bleed;
    --area-small-bleed: l-small-bleed / r-small-bleed;
    --area-header: var(--area-small-bleed);

    /* Note: src/components/HeaderBackdropMask.astro hard-codes 250px */
    --height-header: 250px;
    --height-header-min: 170px;
  }

  @media (min-width: 1500px) {
    :root {
      --area-header: l-wide-bleed / content-column;
    }
  }

  body {
    display: grid;
    /* Remember to duplicate to src/components/SiteHeader.astro */
    grid-template-columns:
      [l-edge] var(--spacing) /* Gutter */
      [l-wide-bleed] 1fr /* Centring  */
      [l-small-bleed] minmax(auto, 15ch) /* Small bleed for special elements */
      [content-column] min(65ch, 45rem, calc(100% - (2 * var(--spacing))))
      /* Content */
      minmax(auto, 15ch) [r-small-bleed] /* Small bleed for special elements */
      1fr [r-wide-bleed] /* Centring */
      var(--spacing) [r-edge]; /* Gutter */

    & > * {
      grid-column: content-column;
    }
  }

  :is(body main, body main article, body main article astro-island) {
    display: contents;

    & > * {
      grid-column: content-column;
    }
  }

  .full-bleed {
    grid-column: var(--area-full-bleed);
  }

  .small-bleed {
    grid-column: var(--area-small-bleed);
  }

  ul:not([class]),
  ol:not([class]) {
    padding-inline-start: 1em;
  }

  blockquote {
    max-width: 50ch;
    padding-inline-start: 1em;
    border-inline-start: 0.3em solid;
  }

  .flow > * + *,
  .flow > * + astro-island > * {
    margin-block-start: var(--flow-space, 1em);
  }

  :is(h1, h2, h3, blockquote) {
    --flow-space: 1.5em;
  }

  :is(h1, h2, h3) + * {
    --flow-space: 0.8em;
  }

  :is(li) + * {
    --flow-space: 0.5em;
  }

  .tiny-flow > * {
    --flow-space: 0.5em;
  }

  .lede {
    font-size: var(--size-step-1);
    max-width: 50ch;
  }

  .lede + * {
    --flow-space: 2em;
  }

  .fully-hidden {
    display: none;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .full-motion {
    display: unset;
  }

  .reduced-motion {
    display: none;
  }

  @media (prefers-reduced-motion) {
    .full-motion {
      display: none;
    }

    .reduced-motion {
      display: unset;
    }
  }
}
