:root {
  --color-text: #f8f8f8;
  --color-text-secondary: #808080;
  --color-text-header: #ffffff;
  --color-background: #181818;
  --color-background-secondary: #333333;
  --color-background-header: #00325f;
  --color-background-error: #581914;
  --color-background-delete: oklch(30% 0.03 18);
  --color-border: #555555;
  --color-link: oklch(50% 0.185 258);
  --color-link-hover: oklch(55% 0.14 258);
  --color-link-active: oklch(50% 0.185 20);
  --color-link-visited: oklch(50% 0.185 304);
  --color-link-visited-hover: oklch(55% 0.185 304);

  --color-notion-default: oklch(38% 0 0);
  --color-notion-default-background: oklch(30% 0 0);
  --color-notion-gray: oklch(38% 0 0);
  --color-notion-gray-background: oklch(30% 0 0);
  --color-notion-brown: oklch(38% 0.08 255);
  --color-notion-brown-background: oklch(30% 0.03 255);
  --color-notion-orange: oklch(38% 0.08 40);
  --color-notion-orange-background: oklch(30% 0.03 40);
  --color-notion-yellow: oklch(38% 0.08 95);
  --color-notion-yellow-background: oklch(30% 0.03 95);
  --color-notion-green: oklch(38% 0.08 155);
  --color-notion-green-background: oklch(30% 0.03 155);
  --color-notion-blue: oklch(38% 0.08 255);
  --color-notion-blue-background: oklch(30% 0.03 255);
  --color-notion-purple: oklch(38% 0.08 300);
  --color-notion-purple-background: oklch(30% 0.03 300);
  --color-notion-pink: oklch(38% 0.08 341);
  --color-notion-pink-background: oklch(30% 0.03 341);
  --color-notion-red: oklch(38% 0.08 23);
  --color-notion-red-background: oklch(30% 0.03 23);

  --color-sticker-common: oklch(60% 0 0);
  --color-sticker-common-background: oklch(30% 0 0);
  --color-sticker-uncommon: oklch(50% 0.15 153);
  --color-sticker-uncommon-background: oklch(30% 0.03 153);
  --color-sticker-rare: oklch(63.68% 0.175 250);
  --color-sticker-rare-background: oklch(30% 0.03 250);
  --color-sticker-legendary: oklch(50% 0.25 340);
  --color-sticker-legendary-background: oklch(30% 0.03 340);
  --color-sticker-unique: oklch(70% 0.175 99);
  --color-sticker-unique-background: oklch(30% 0.03 99);
  --color-sticker-frame-shiny: #ffffff11;

  --header-backdrop-mask-opacity: 0.5;

  --border-radius: 4px;

  --transition-duration: 100ms;

  --spacing: 16px;
  --spacing-half: calc(var(--spacing) / 2);

  --sticker-size: calc(var(--spacing) * 3);

  --big-box-color: var(--color-text);
  --big-box-spacing: calc(max(var(--spacing), 10vw));
  --big-box-spacing-small: calc(
    clamp(var(--spacing), 5vw, calc(var(--spacing) * 3))
  );
  --big-box-border-width: 3px;

  --small-box-spacing: var(--spacing);
  --small-box-border-width: 1px;

  color-scheme: dark;
}

@media (min-width: 900px) {
  :root {
    --sticker-size: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  :root {
    --sticker-size: calc(var(--spacing) * 5);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  background: var(--color-background);
  color: var(--color-text);
}

main {
  display: contents;
}

a {
  color: currentColor;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.2ex;

  &:hover,
  &:focus-within {
    text-decoration-color: var(--color-link-hover);
  }

  &:visited {
    text-decoration-color: var(--color-link-visited);
  }

  &:visited:hover,
  &:visited:focus-within {
    text-decoration-color: var(--color-link-visited-hover);
  }

  &:active {
    text-decoration-color: var(--color-link-active);
  }
}

.skip-links {
  text-align: center;
  padding: var(--spacing);
  background-color: var(--color-background-header);
  color: var(--color-text-header);
}

.skip-links:not(:focus-within) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-links ul {
  list-style: none;
  padding-left: 0 !important;
}

.big-box {
  position: relative;
  margin: var(--big-box-spacing-small) var(--big-box-spacing);
  padding: var(--big-box-spacing-small) var(--big-box-spacing);
  border: var(--big-box-border-width) solid var(--big-box-color);
}

.small-box {
  position: relative;
  padding: var(--small-box-spacing);
  border: var(--small-box-border-width) solid var(--color-text);
}

/* #region Header */

.header-area {
  color: var(--color-text-header);
  --big-box-color: var(--color-text-header);
  position: relative;
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.backdrop-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-name,
.nav-list {
  display: flex;
  gap: var(--spacing);
  justify-content: flex-end;
  align-items: center;
}

.header-area .site-name,
.header-area .nav-link,
.page-item {
  text-decoration-style: -moz-none;
  text-decoration-style: none;
  text-decoration-thickness: 0;

  &:focus-within,
  &:hover,
  &:active {
    text-decoration-style: inherit;
    text-decoration-thickness: inherit;
  }
}

.profile-photo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

@media (min-width: 900px) {
  .profile-photo {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }
}

h1.site-name-heading {
  font-size: var(--size-step-3) !important;
}

.notion-backdrop {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > *,
  .notion-backdrop-image {
    height: 100%;
    width: 100%;
    max-width: initial;
    object-fit: cover;
    object-position: center;
  }

  .notion-backdrop-image.notion-backdrop-image-blur {
    filter: blur(16px);
    transform: scale(
      110%
    ); /* Quick hack so that the blur's edges aren't visible */
  }

  .shade {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.default-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    content: " ";
    height: 100%;
    width: 100%;
    background: var(--color-background-header);
    background-size: cover;
    background-position: center;
  }
}

/* #endregion */

/* #region Blocks */

/* #region Callout */
.block-callout {
  display: grid;
  grid-template-columns:
    [icon] 32px
    [content] 1fr;
  gap: var(--spacing-half);
  border-color: var(--color-border);
}

.block-callout-icon {
  grid-column: icon;
  font-size: 1em;
  width: 32em;
  height: 32em;
}

.block-callout-content {
  overflow-x: auto;
}

.block-callout-default,
.block-callout-default_background {
  border-color: var(--color-notion-default);
  background-color: var(--color-notion-default-background);
}
.block-callout-gray,
.block-callout-gray_background {
  border-color: var(--color-notion-gray);
  background-color: var(--color-notion-gray-background);
}
.block-callout-brown,
.block-callout-brown_background {
  border-color: var(--color-notion-brown);
  background-color: var(--color-notion-brown-background);
}
.block-callout-orange,
.block-callout-orange_background {
  border-color: var(--color-notion-orange);
  background-color: var(--color-notion-orange-background);
}
.block-callout-yellow,
.block-callout-yellow_background {
  border-color: var(--color-notion-yellow);
  background-color: var(--color-notion-yellow-background);
}
.block-callout-green,
.block-callout-green_background {
  border-color: var(--color-notion-green);
  background-color: var(--color-notion-green-background);
}
.block-callout-blue,
.block-callout-blue_background {
  border-color: var(--color-notion-blue);
  background-color: var(--color-notion-blue-background);
}
.block-callout-purple,
.block-callout-purple_background {
  border-color: var(--color-notion-purple);
  background-color: var(--color-notion-purple-background);
}
.block-callout-pink,
.block-callout-pink_background {
  border-color: var(--color-notion-pink);
  background-color: var(--color-notion-pink-background);
}
.block-callout-red,
.block-callout-red_background {
  border-color: var(--color-notion-red);
  background-color: var(--color-notion-red-background);
}
/* #endregion */

.block-code {
  padding: 0;
  display: block;
  font-size: 0.9em;
}

.block-code > pre {
  margin: 0;
  padding: var(--spacing);
  overflow-x: auto;
  color-scheme: dark;
}

.block-code .language-id {
  /* TODO: Figure out what to do with the language indicator */
  display: none;
}

.block-image {
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
  max-width: calc(100% - (2 * var(--spacing-half)));
  padding: var(--spacing-half);
  overflow: hidden;
}

.block-image-caption {
  margin-top: var(--spacing-half);
  text-align: center;
  font-style: italic;
  color: var(--color-text-secondary);
}
/* #endregion */
