:root {
  --color-text: #333333;
  --color-text-secondary: #606060;
  --color-text-header: #ffffff;
  --color-background: #f8f8f8;
  --color-background-secondary: #dddddd;
  --color-background-header: #002355;
  --color-background-delete: oklch(95% 0.013 18);
  --color-border: #aaaaaa;
  --color-link: oklch(60% 0.185 258);
  --color-link-hover: oklch(65% 0.14 258);
  --color-link-active: oklch(60% 0.185 20);
  --color-link-visited: oklch(60% 0.185 304);
  --color-link-visited-hover: oklch(65% 0.185 304);

  --color-notion-default: oklch(45% 0 0);
  --color-notion-default-background: oklch(92% 0 0);
  --color-notion-gray: oklch(45% 0 0);
  --color-notion-gray-background: oklch(92% 0 0);
  --color-notion-brown: oklch(45% 0.08 255);
  --color-notion-brown-background: oklch(92% 0.03 255);
  --color-notion-orange: oklch(45% 0.08 40);
  --color-notion-orange-background: oklch(92% 0.03 40);
  --color-notion-yellow: oklch(45% 0.08 95);
  --color-notion-yellow-background: oklch(92% 0.03 95);
  --color-notion-green: oklch(45% 0.08 155);
  --color-notion-green-background: oklch(92% 0.03 155);
  --color-notion-blue: oklch(45% 0.08 255);
  --color-notion-blue-background: oklch(92% 0.03 255);
  --color-notion-purple: oklch(45% 0.08 300);
  --color-notion-purple-background: oklch(92% 0.03 300);
  --color-notion-pink: oklch(45% 0.08 341);
  --color-notion-pink-background: oklch(92% 0.03 341);
  --color-notion-red: oklch(45% 0.08 23);
  --color-notion-red-background: oklch(92% 0.03 23);

  --color-sticker-common: oklch(80% 0 0);
  --color-sticker-common-background: oklch(92% 0 0);
  --color-sticker-uncommon: oklch(60% 0.15 153);
  --color-sticker-uncommon-background: oklch(92% 0.03 153);
  --color-sticker-rare: oklch(63.68% 0.175 250);
  --color-sticker-rare-background: oklch(92% 0.03 250);
  --color-sticker-legendary: oklch(60% 0.25 340);
  --color-sticker-legendary-background: oklch(92% 0.03 340);
  --color-sticker-unique: oklch(82% 0.175 99);
  --color-sticker-unique-background: oklch(92% 0.03 99);
  --color-sticker-frame-shiny: #ffffff66;

  --header-backdrop-mask-opacity: 0.5;

  --border-radius: 4px;

  --transition-duration: 100ms;

  --spacing: 16px;
  --spacing-half: calc(var(--spacing) / 2);

  --sticker-size: calc(var(--spacing) * 3);

  --big-box-color: var(--color-text);
  --big-box-spacing: calc(max(var(--spacing), 10vw));
  --big-box-spacing-small: calc(
    clamp(var(--spacing), 5vw, calc(var(--spacing) * 3))
  );
  --big-box-border-width: 3px;

  --small-box-spacing: var(--spacing);
  --small-box-border-width: 2px;

  --sidebar-width: 350px;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #f8f8f8;
    --color-text-secondary: #808080;
    --color-text-header: #ffffff;
    --color-background: #181818;
    --color-background-secondary: #3a3a3a;
    --color-background-header: #1d3966;
    --color-background-error: #5f2526;
    --color-background-delete: oklch(30% 0.03 18);
    --color-border: #555555;
    --color-link: oklch(50% 0.185 258);
    --color-link-hover: oklch(55% 0.14 258);
    --color-link-active: oklch(50% 0.185 20);
    --color-link-visited: oklch(50% 0.185 304);
    --color-link-visited-hover: oklch(55% 0.185 304);

    --color-notion-default: oklch(38% 0 0);
    --color-notion-default-background: oklch(30% 0 0);
    --color-notion-gray: oklch(38% 0 0);
    --color-notion-gray-background: oklch(30% 0 0);
    --color-notion-brown: oklch(38% 0.08 255);
    --color-notion-brown-background: oklch(30% 0.03 255);
    --color-notion-orange: oklch(38% 0.08 40);
    --color-notion-orange-background: oklch(30% 0.03 40);
    --color-notion-yellow: oklch(38% 0.08 95);
    --color-notion-yellow-background: oklch(30% 0.03 95);
    --color-notion-green: oklch(38% 0.08 155);
    --color-notion-green-background: oklch(30% 0.03 155);
    --color-notion-blue: oklch(38% 0.08 255);
    --color-notion-blue-background: oklch(30% 0.03 255);
    --color-notion-purple: oklch(38% 0.08 300);
    --color-notion-purple-background: oklch(30% 0.03 300);
    --color-notion-pink: oklch(38% 0.08 341);
    --color-notion-pink-background: oklch(30% 0.03 341);
    --color-notion-red: oklch(38% 0.08 23);
    --color-notion-red-background: oklch(30% 0.03 23);

    --color-sticker-common: oklch(60% 0 0);
    --color-sticker-common-background: oklch(30% 0 0);
    --color-sticker-uncommon: oklch(50% 0.15 153);
    --color-sticker-uncommon-background: oklch(30% 0.03 153);
    --color-sticker-rare: oklch(63.68% 0.175 250);
    --color-sticker-rare-background: oklch(30% 0.03 250);
    --color-sticker-legendary: oklch(50% 0.25 340);
    --color-sticker-legendary-background: oklch(30% 0.03 340);
    --color-sticker-unique: oklch(70% 0.175 99);
    --color-sticker-unique-background: oklch(30% 0.03 99);
    --color-sticker-frame-shiny: #ffffff11;
  }
}

@media (min-width: 900px) {
  :root {
    --sticker-size: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  :root {
    --sticker-size: calc(var(--spacing) * 5);
  }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
  background: var(--color-background);
  color: var(--color-text);
}

main {
  display: contents;
}

.sidebar-layout {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

@media (min-width: 1200px) {
  .sidebar-layout {
    flex-direction: row;

    main > * {
      width: 100%;
    }

    &:has(main + aside) {
      aside {
        width: var(--sidebar-width);
      }

      main > * {
        width: calc(100% - var(--spacing) - var(--sidebar-width));
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  body:has(.sidebar-box) {
    --big-box-spacing: calc(max(var(--spacing), 5vw));
  }
}

@media (min-width: 1600px) and (max-width: 1919px) {
  body:has(.sidebar-box) {
    --big-box-spacing: calc(max(var(--spacing), 7vw));
  }
}

a {
  color: currentColor;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.2ex;

  &:hover,
  &:focus-within {
    text-decoration-color: var(--color-link-hover);
  }

  &:visited {
    text-decoration-color: var(--color-link-visited);
  }

  &:visited:hover,
  &:visited:focus-within {
    text-decoration-color: var(--color-link-visited-hover);
  }

  &:active {
    text-decoration-color: var(--color-link-active);
  }
}

.skip-links {
  text-align: center;
  padding: var(--spacing);
  background-color: var(--color-background-header);
  color: var(--color-text-header);
}

.skip-links:not(:focus-within) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.skip-links ul {
  list-style: none;
  padding-left: 0 !important;
}

.big-box {
  position: relative;
  padding: var(--big-box-spacing-small) var(--big-box-spacing);
  border: var(--big-box-border-width) solid var(--big-box-color);
}

.big-box-margin {
  margin: var(--big-box-spacing-small) var(--big-box-spacing);
}

.small-box {
  position: relative;
  padding: var(--small-box-spacing);
  border: var(--small-box-border-width) solid var(--color-text);
}

.sidebar-box {
  position: relative;
  padding: var(--small-box-spacing);
  border: var(--big-box-border-width) solid var(--big-box-color);
}

/* #region Header */

.header-area {
  color: var(--color-text-header);
  --big-box-color: var(--color-text-header);
  position: relative;
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.backdrop-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.site-name,
.nav-list {
  display: flex;
  gap: var(--spacing);
  justify-content: center;
  align-items: center;
}

.site-name {
  flex-direction: column;
  text-align: center;
}

@media (min-width: 600px) {
  .site-name {
    justify-content: flex-end;
    flex-direction: row;
    text-align: end;
  }

  .nav-list {
    justify-content: flex-end;
  }
}

.header-area .site-name,
.header-area .nav-link,
.page-item {
  text-decoration-style: -moz-none;
  text-decoration-style: none;
  text-decoration-thickness: 0;

  &:focus-within,
  &:hover,
  &:active {
    text-decoration-style: inherit;
    text-decoration-thickness: inherit;
  }
}

.profile-photo {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

h1.site-name-heading {
  font-size: var(--size-step-3) !important;
}

.notion-backdrop {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;

  > *,
  .notion-backdrop-image {
    height: 100%;
    width: 100%;
    max-width: initial;
    object-fit: cover;
    object-position: center;
  }

  .notion-backdrop-image.notion-backdrop-image-blur {
    filter: blur(16px);
    transform: scale(
      110%
    ); /* Quick hack so that the blur's edges aren't visible */
  }

  .shade {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.default-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;

  &::before {
    display: block;
    content: " ";
    height: 100%;
    width: 100%;
    background: var(--color-background-header);
  }
}

/* #endregion */
