:root {
  --color-text: #f8f8f8;
  --color-text-secondary: #808080;
  --color-text-header: #ffffff;
  --color-background: #181818;
  --color-background-secondary: #333333;
  --color-background-header: #00325f;
  --color-background-delete: oklch(30% 0.03 18);
  --color-border: #555555;
  --color-link: oklch(50% 0.185 258);
  --color-link-hover: oklch(55% 0.14 258);
  --color-link-active: oklch(50% 0.185 20);
  --color-link-visited: oklch(50% 0.185 304);
  --color-link-visited-hover: oklch(55% 0.185 304);

  --color-notion-default: oklch(38% 0 0);
  --color-notion-default-background: oklch(30% 0 0);
  --color-notion-gray: oklch(38% 0 0);
  --color-notion-gray-background: oklch(30% 0 0);
  --color-notion-brown: oklch(38% 0.08 255);
  --color-notion-brown-background: oklch(30% 0.03 255);
  --color-notion-orange: oklch(38% 0.08 40);
  --color-notion-orange-background: oklch(30% 0.03 40);
  --color-notion-yellow: oklch(38% 0.08 95);
  --color-notion-yellow-background: oklch(30% 0.03 95);
  --color-notion-green: oklch(38% 0.08 155);
  --color-notion-green-background: oklch(30% 0.03 155);
  --color-notion-blue: oklch(38% 0.08 255);
  --color-notion-blue-background: oklch(30% 0.03 255);
  --color-notion-purple: oklch(38% 0.08 300);
  --color-notion-purple-background: oklch(30% 0.03 300);
  --color-notion-pink: oklch(38% 0.08 341);
  --color-notion-pink-background: oklch(30% 0.03 341);
  --color-notion-red: oklch(38% 0.08 23);
  --color-notion-red-background: oklch(30% 0.03 23);

  --color-sticker-common: oklch(60% 0 0);
  --color-sticker-common-background: oklch(30% 0 0);
  --color-sticker-uncommon: oklch(50% 0.15 153);
  --color-sticker-uncommon-background: oklch(30% 0.03 153);
  --color-sticker-rare: oklch(63.68% 0.175 250);
  --color-sticker-rare-background: oklch(30% 0.03 250);
  --color-sticker-legendary: oklch(50% 0.25 340);
  --color-sticker-legendary-background: oklch(30% 0.03 340);
  --color-sticker-unique: oklch(70% 0.175 99);
  --color-sticker-unique-background: oklch(30% 0.03 99);
  --color-sticker-frame-shiny: #ffffff11;

  --header-backdrop-mask-opacity: 0.5;

  --border-radius: 4px;

  --transition-duration: 100ms;

  --spacing: 16px;
  --spacing-half: calc(var(--spacing) / 2);

  --sticker-size: calc(var(--spacing) * 3);

  --big-box-spacing: calc(max(var(--spacing-half), 10vw));
  --big-box-border-width: 3px;

  --small-box-spacing: var(--spacing-half);
  --small-box-border-width: 1px;

  color-scheme: dark;
}

@media (min-width: 900px) {
  :root {
    --sticker-size: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  :root {
    --sticker-size: calc(var(--spacing) * 5);
  }
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

a {
  color: currentColor;
  text-decoration-color: var(--color-link);
  text-decoration-thickness: 0.2ex;
  text-underline-offset: 0.2ex;

  &:hover,
  &:focus-within {
    text-decoration-color: var(--color-link-hover);
  }

  &:visited {
    text-decoration-color: var(--color-link-visited);
  }

  &:visited:hover,
  &:visited:focus-within {
    text-decoration-color: var(--color-link-visited-hover);
  }

  &:active {
    text-decoration-color: var(--color-link-active);
  }
}

.big-box {
  position: relative;
  margin: var(--big-box-spacing);
  padding: var(--big-box-spacing);
  border: var(--big-box-border-width) solid var(--color-text-header);
}
