@layer theme {
  :root {
    --color-text: #000000;
    --color-text-secondary: #666666;
    --color-text-header: #ffffff;
    --color-background: #ffffff;
    --color-border: #aaaaaa;
    --color-alt-background: #dddddd;
    --color-primary: #1a8fe3;
    --color-background-header: #002355;

    --border-radius: 4px;

    --transition-duration: 100ms;

    --spacing: 16px;
    --spacing-half: calc(var(--spacing) / 2);
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
  }

  a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  .lede {
    font-style: italic;
    max-width: 50ch;
  }

  .lede + * {
    --flow-space: 2em;
  }
}
