@layer theme {
  :root {
    --color-text: #333333;
    --color-text-secondary: #606060;
    --color-text-header: #ffffff;
    --color-background: #f8f8f8;
    --color-background-secondary: #dddddd;
    --color-background-header: #002355;
    --color-background-delete: #f8ecec;
    --color-border: #aaaaaa;
    --color-link: oklch(60% 0.185 258);
    --color-link-hover: oklch(65% 0.14 258);
    --color-link-active: oklch(60% 0.185 20);
    --color-link-visited: oklch(60% 0.185 304);
    --color-link-visited-hover: oklch(65% 0.185 304);

    --color-notion-default: oklch(45% 0 0);
    --color-notion-default-background: oklch(92% 0 0);
    --color-notion-gray: oklch(45% 0 0);
    --color-notion-gray-background: oklch(92% 0 0);
    --color-notion-brown: oklch(45% 0.08 255);
    --color-notion-brown-background: oklch(92% 0.03 255);
    --color-notion-orange: oklch(45% 0.08 40);
    --color-notion-orange-background: oklch(92% 0.03 40);
    --color-notion-yellow: oklch(45% 0.08 95);
    --color-notion-yellow-background: oklch(92% 0.03 95);
    --color-notion-green: oklch(45% 0.08 155);
    --color-notion-green-background: oklch(92% 0.03 155);
    --color-notion-blue: oklch(45% 0.08 255);
    --color-notion-blue-background: oklch(92% 0.03 255);
    --color-notion-purple: oklch(45% 0.08 300);
    --color-notion-purple-background: oklch(92% 0.03 300);
    --color-notion-pink: oklch(45% 0.08 341);
    --color-notion-pink-background: oklch(92% 0.03 341);
    --color-notion-red: oklch(45% 0.08 23);
    --color-notion-red-background: oklch(92% 0.03 23);

    --color-sticker-common: oklch(80% 0 0);
    --color-sticker-common-background: oklch(92% 0 0);
    --color-sticker-uncommon: oklch(60% 0.15 153);
    --color-sticker-uncommon-background: oklch(92% 0.03 153);
    --color-sticker-rare: oklch(63.68% 0.175 250);
    --color-sticker-rare-background: oklch(92% 0.03 250);
    --color-sticker-legendary: oklch(60% 0.25 340);
    --color-sticker-legendary-background: oklch(92% 0.03 340);
    --color-sticker-unique: oklch(82% 0.175 99);
    --color-sticker-unique-background: oklch(92% 0.03 99);

    --border-radius: 4px;

    --transition-duration: 100ms;

    --spacing: 16px;
    --spacing-half: calc(var(--spacing) / 2);

    --sticker-size: calc(var(--spacing) * 3);

    color-scheme: light;
  }

  @media (min-width: 900px) {
    :root {
      --sticker-size: calc(var(--spacing) * 4);
    }
  }

  @media (min-width: 1200px) {
    :root {
      --sticker-size: calc(var(--spacing) * 5);
    }
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
  }

  a {
    color: currentColor;
    text-decoration-color: var(--color-link);
    text-decoration-thickness: 0.2ex;
    text-underline-offset: 0.2ex;

    &:hover,
    &:focus {
      text-decoration-color: var(--color-link-hover);
    }

    &:visited {
      text-decoration-color: var(--color-link-visited);
    }

    &:visited:hover,
    &:visited:focus {
      text-decoration-color: var(--color-link-visited-hover);
    }

    &:active {
      text-decoration-color: var(--color-link-active);
    }
  }

  .lede {
    font-style: italic;
    max-width: 50ch;
  }

  .lede + * {
    --flow-space: 2em;
  }
}
