@layer theme {
  :root {
    --color-text: #333333;
    --color-text-secondary: #606060;
    --color-text-header: #ffffff;
    --color-background: #f8f8f8;
    --color-border: #aaaaaa;
    --color-alt-background: #dddddd;
    --color-primary: #1a8fe3;
    --color-background-header: #002355;

    --color-sticker-common: oklch(85% 0 0);
    --color-sticker-common-background: oklch(92% 0 0);
    --color-sticker-uncommon: oklch(60% 0.15 153);
    --color-sticker-uncommon-background: oklch(92% 0.03 153);
    --color-sticker-rare: oklch(63.68% 0.175 250);
    --color-sticker-rare-background: oklch(92% 0.03 250);
    --color-sticker-legendary: oklch(60% 0.25 340);
    --color-sticker-legendary-background: oklch(92% 0.03 340);
    --color-sticker-unique: oklch(85% 0.175 99);
    --color-sticker-unique-background: oklch(92% 0.03 99);

    --border-radius: 4px;

    --transition-duration: 100ms;

    --spacing: 16px;
    --spacing-half: calc(var(--spacing) / 2);

    color-scheme: light;
  }

  body {
    background: var(--color-background);
    color: var(--color-text);
  }

  a {
    color: currentColor;
    text-decoration-color: var(--color-primary);
    text-decoration-thickness: 0.3ex;
    text-underline-offset: 0.3ex;
  }

  .lede {
    font-style: italic;
    max-width: 50ch;
  }

  .lede + * {
    --flow-space: 2em;
  }
}
