@layer base {
  @import "../../node_modules/@fontsource/source-serif-4/index.css";
  @import "../../node_modules/@fontsource-variable/source-serif-4/index.css";
  @import "../../node_modules/@fontsource/jetbrains-mono/index.css";
  @import "../../node_modules/@fontsource-variable/jetbrains-mono/index.css";

  :root {
    --size-step-0: clamp(1rem, calc(0.96rem + 0.22vw), 1.13rem);
    --size-step-1: clamp(1.25rem, calc(1.16rem + 0.43vw), 1.5rem);
    --size-step-2: clamp(1.56rem, calc(1.41rem + 0.76vw), 2rem);
    --size-step-3: clamp(1.95rem, calc(1.71rem + 1.24vw), 2.66rem);
    --size-step-4: clamp(2.44rem, calc(2.05rem + 1.93vw), 3.55rem);

    --font-family-body: "Source Serif 4 Variable", "Source Serif 4", serif;
    --font-family-heading: "Source Serif 4 Variable", "Source Serif 4", serif;
    --font-family-mono: "JetBrains Mono Variable", "Jetbrains Mono", monospace;
  }

  body {
    font-family: var(--font-family-body);
    font-size: var(--size-step-0);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-family-heading);
    font-weight: 800;
    line-height: 1.1;
    text-wrap: balance;
  }

  h1 {
    font-size: var(--size-step-4);
    max-width: 20ch;
  }

  h2 {
    font-size: var(--size-step-3);
    max-width: 28ch;
  }

  h3 {
    font-size: var(--size-step-2);
    max-width: 28ch;
  }

  h4 {
    font-size: var(--size-step-1);
    max-width: 28ch;
  }

  blockquote {
    font-style: italic;
    font-size: var(--size-step-1);
  }

  .text-code,
  code {
    font-family: var(--font-family-mono);
  }

  b,
  strong,
  .text-bold {
    font-weight: bold;
  }

  i,
  em,
  .text-italic {
    font-style: italic;
  }
}
