@import "./fonts/source-sans.css";
@import "./fonts/source-serif.css";
@import "./fonts/source-code.css";
@import "./fonts/comic-sans.css";
@import "./fonts/comic-code.css";
@import "./fonts/quadraat-offc.css";
@import "./fonts/macsminecraft.css";
@import "./fonts/monocraft.css";
@import "./fonts/parclo-serif.css";

:root {
  --size-base: 1.2rem;

  --size-step-min1: clamp(
    calc(0.8 * var(--size-base)),
    calc(0.8 * var(--size-base) + 0.14vw),
    calc(1 * var(--size-base))
  );
  --size-step-0: clamp(
    calc(1 * var(--size-base)),
    calc(0.96 * var(--size-base) + 0.22vw),
    calc(1.13 * var(--size-base))
  );
  --size-step-point5: clamp(
    calc(1.1 * var(--size-base)),
    calc(1.1 * var(--size-base) + 0.25vw),
    calc(1.3 * var(--size-base))
  );
  --size-step-1: clamp(
    calc(1.25 * var(--size-base)),
    calc(1.16 * var(--size-base) + 0.43vw),
    calc(1.5 * var(--size-base))
  );
  --size-step-2: clamp(
    calc(1.56 * var(--size-base)),
    calc(1.41 * var(--size-base) + 0.76vw),
    calc(2 * var(--size-base))
  );
  --size-step-3: clamp(
    calc(1.95 * var(--size-base)),
    calc(1.71 * var(--size-base) + 1.24vw),
    calc(2.66 * var(--size-base))
  );
  --size-step-4: clamp(
    calc(2.44 * var(--size-base)),
    calc(2.05 * var(--size-base) + 1.93vw),
    calc(3.55 * var(--size-base))
  );

  --font-family-body:
    "Parclo Serif Trial", "Adjusted Parclo Serif Fallback", "Source Serif 4",
    "Adjusted Source Serif Fallback", serif;
  --font-family-mono:
    "Source Code Pro", "Cascadia Code", Menlo, Consolas, "DejaVu Sans Mono",
    ui-monospace, monospace;
  font-family: var(--font-family-body);
}

[data-font="auto"] {
  --font-family-body:
    "Parclo Serif Trial", "Adjusted Parclo Serif Fallback", "Source Serif 4",
    "Adjusted Source Serif Fallback", serif;
  font-family: var(--font-family-body);
}

[data-font="serif"] {
  --font-family-body:
    "Parclo Serif Trial", "Adjusted Parclo Serif Fallback", "Source Serif 4",
    "Adjusted Source Serif Fallback", serif;
  font-family: var(--font-family-body);
}

[data-font="sans-serif"] {
  --font-family-body:
    "Source Sans 3", "Adjusted Source Sans Fallback", system-ui, sans-serif;
  font-family: var(--font-family-body);
}

[data-font="comic-sans"] {
  --font-family-body:
    "Comic Sans MS", "Brush Script MT", "Comic Sans MS Remote", cursive;
  --font-family-mono: "Comic Code", ui-monospace, monospace;
  font-family: var(--font-family-body);
}

[data-theme="bg3"]:not([data-font]),
[data-theme="bg3"][data-font="auto"],
[data-theme="bg3"] [data-font="auto"],
[data-font="bg3"] {
  --font-family-body:
    "Quadraat Offc Pro", "Adjusted BG3 Fallback", Charter, "Bitstream Charter",
    "Sitka Text", Cambria, serif;
  font-family: var(--font-family-body);
}

[data-theme="minecraft"]:not([data-font]),
[data-theme="minecraft"][data-font="auto"],
[data-theme="minecraft"] [data-font="auto"],
[data-font="minecraft"] {
  --font-family-body:
    "macsMinecraft", "Adjusted macsMinecraft Fallback", sans-serif;
  --font-family-mono: "Monocraft", ui-monospace, monospace;
  font-family: var(--font-family-body);
}

body {
  font-family: var(--font-family-body);
  font-size: var(--size-step-0);
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: var(--size-step-4);
}

h2 {
  font-size: var(--size-step-3);
}

h3 {
  font-size: var(--size-step-2);
}

h4 {
  font-size: var(--size-step-1);
}

blockquote {
  max-width: 80ch;
  padding-inline-start: 1em;
  border-inline-start: 0.3em solid;
  font-style: italic;
  font-size: var(--size-step-0);
}

.text-code,
code {
  font-family: var(--font-family-mono);
  font-weight: 400;
}

.text-code {
  padding: 0.2em;
  background-color: var(--color-background-secondary);
  border-radius: var(--border-radius);
  font-size: 0.9em;
}

b,
strong,
.text-bold {
  font-weight: 700;
}

i,
em,
.text-italic {
  font-style: italic;
}

.text-strikethrough {
  text-decoration: line-through;
}

.flow > * + *,
.flow > * + astro-island > * {
  margin-block-start: var(--flow-space, 1em);
}

:is(h1, h2, h3, blockquote) {
  --flow-space: 1.5em;
}

:is(h1, h2, h3) + * {
  --flow-space: 0.8em;
}

:is(li) + * {
  --flow-space: 0.5em;
}

.tiny-flow > * {
  --flow-space: 0.5em;
}

.lede {
  font-style: italic;
  font-size: var(--size-step-1);
  max-width: 50ch;
}

.lede + * {
  --flow-space: 2em;
}

.color-background-primary {
  color: var(--color-background-primary);
}
