.sticker-frame {
  --sticker-color-primary: transparent;
  --sticker-color-background: transparent;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-content: start;
  padding: var(--spacing);
  border: 3px solid var(--sticker-color-primary);
  border-radius: 9px;
  background-color: var(--sticker-color-background);
  overflow: hidden;
}

.sticker-frame-common {
  --sticker-color-primary: var(--color-sticker-common);
  --sticker-color-background: var(--color-sticker-common-background);
}

.sticker-frame-uncommon {
  --sticker-color-primary: var(--color-sticker-uncommon);
  --sticker-color-background: var(--color-sticker-uncommon-background);
}

.sticker-frame-rare {
  --sticker-color-primary: var(--color-sticker-rare);
  --sticker-color-background: var(--color-sticker-rare-background);
}

.sticker-frame-legendary {
  --sticker-color-primary: var(--color-sticker-legendary);
  --sticker-color-background: var(--color-sticker-legendary-background);
}

.sticker-frame-unique {
  --sticker-color-primary: var(--color-sticker-unique);
  --sticker-color-background: var(--color-sticker-unique-background);
}

.sticker-frame-unique {
  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      70deg,
      transparent 2.5%,
      var(--color-sticker-frame-shiny) 2.5%,
      var(--color-sticker-frame-shiny) 4.5%,
      transparent 4.5%,
      transparent 10.5%,
      var(--color-sticker-frame-shiny) 10.6%,
      var(--color-sticker-frame-shiny) 12.4%,
      transparent 12.5%,
      transparent 14.5%,
      var(--color-sticker-frame-shiny) 14.6%,
      var(--color-sticker-frame-shiny) 19.4%,
      transparent 19.5%,
      transparent 24.5%,
      var(--color-sticker-frame-shiny) 24.6%,
      var(--color-sticker-frame-shiny) 28.4%,
      transparent 28.5%,
      transparent 35.5%,
      var(--color-sticker-frame-shiny) 35.6%,
      var(--color-sticker-frame-shiny) 37.4%,
      transparent 37.5%,
      transparent 40.5%,
      var(--color-sticker-frame-shiny) 40.6%,
      var(--color-sticker-frame-shiny) 42.4%,
      transparent 42.5%
    );
    background-size: 400% auto;
    background-position: right center;
    transition: background-position 600ms ease-out;
  }

  &:hover::before {
    background-position: left center;
  }
}

.sticker-frame-rarity {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--size-step-min1);
  background-color: var(--sticker-color-primary);
  color: var(--color-text-header);
  padding-left: 3px;
  padding-right: 0.5em;
  clip-path: polygon(0 0, 100% 0, calc(100% - 0.5em) 100%, 0 100%);
  z-index: 2;
  text-transform: capitalize;
}

.sticker-frame:has(.sticker-frame-rarity) {
  padding-top: calc(var(--spacing) + var(--size-step-min1));
}

.sticker-frame-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-block-start: var(--flow-space, 1em);
}

.sticker-frame-name {
  font-size: var(--size-step-point5);
}

.sticker-frame-unlockedBy,
.sticker-frame-description {
  font-size: var(--size-step-min1);
  font-style: italic;
}

.sticker-frame-unlockedByText {
  font-style: normal;
}
