---
import { type DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { BLOG_PAGE_ID } from "../../../lib/constants";
import { getFilteredBlogItems } from "../../../lib/notion/blog";
import { getPage } from "../../../lib/notion/caches";
import { LazyLoader } from "../../react/LazyLoader.tsx";
import BlogListPageItem from "./BlogListPageItem.astro";

export interface Props {
  page: DatabaseObjectResponse;
}

const { page } = Astro.props;

const blogHomePage = await getPage(BLOG_PAGE_ID);
const allBlogPages = await getFilteredBlogItems({
  allowUnpublished: import.meta.env.DEV,
  allowUnlisted: false,
});

// Get next/previous entries
let next: DatabaseObjectResponse | undefined;
let prev: DatabaseObjectResponse | undefined;
const index = allBlogPages.findIndex((curr) => curr.id === page.id);
if (index !== -1) {
  if (index !== 0) {
    next = allBlogPages[index - 1];
  }
  if (index !== allBlogPages.length - 1) {
    prev = allBlogPages[index + 1];
  }
}
---

<div class="blog-footer big-box-margin">
  <div class="links">
    <div class="links-box next">
      {
        next ? (
          <BlogListPageItem page={next} showTitle>
            <Fragment slot="info-top">
              <span class="pre-title">Next post</span>
            </Fragment>
          </BlogListPageItem>
        ) : (
          <LazyLoader
            type="sticker-blog-nav-unlock"
            props={{ stickerType: "glowing-star" }}
            client:idle
          />
        )
      }
    </div>
    <div class="links-box prev">
      {
        prev ? (
          <BlogListPageItem page={prev} showTitle>
            <Fragment slot="info-top">
              <span class="pre-title">Previous post</span>
            </Fragment>
          </BlogListPageItem>
        ) : (
          <LazyLoader
            type="sticker-blog-nav-unlock"
            props={{ stickerType: "chequered-flag" }}
            client:idle
          />
        )
      }
    </div>
    <div class="links-box up">
      <BlogListPageItem page={blogHomePage as any} showTitle>
        <Fragment slot="info-top">
          <span class="pre-title">More posts</span>
        </Fragment>
      </BlogListPageItem>
    </div>
  </div>
</div>

<style>
  .links {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas:
      "next"
      "prev"
      "up";
  }

  .links-box {
    position: relative;
  }

  .next {
    grid-area: next;
  }
  .prev {
    grid-area: prev;
  }
  .up {
    grid-area: up;
  }

  @media (min-width: 900px) {
    .links {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "prev next"
        "up up";
    }
  }

  .pre-title {
    align-self: flex-start;
    font-size: var(--size-step-min1);
    font-style: italic;
    color: var(--color-text-header);
  }
</style>
