---
import type { PageObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import { join } from "node:path/posix";
import { getPageTitleComponents } from "../../../lib/notion/titles";
import NotionBackdrop from "../common/NotionBackdrop.astro";
import RichText from "../common/RichText.astro";
import seedrandom from "seedrandom";

export interface Props {
  page: PageObjectResponse;
  slug: string;
  showTitle?: boolean;
}

const { page, slug, showTitle } = Astro.props;

const titleComponents = getPageTitleComponents(page);

const random = seedrandom(page.id);
const colorAngle = `${Math.round(random() * 360)}deg`;
---

<a
  href={join("/blog", slug)}
  class="page-item big-box-border big-corners recalc-background-color"
  style={{ "--color-dynamic-angle": colorAngle }}
>
  <div class="backdrop-container">
    <NotionBackdrop
      page={page}
      widths={[360]}
      densities={[1]}
      sizes="100vw"
      noIntrinsicWidth
      shouldBlur
    />
  </div>
  <div class="info flow small-box">
    <slot name="info-top" />
    {
      showTitle && (
        <h3 class="title">
          <RichText components={titleComponents} />
        </h3>
      )
    }
  </div>
</a>

<style>
  .page-item {
    position: relative;
    display: block;
    min-height: 50px;
    height: 100%;
    overflow: hidden;
    transition: scale 0.1s ease-out;

    &:hover,
    &:focus-within {
      scale: 1.01;
    }
  }

  .info {
    height: 100%;
    padding: var(--big-box-spacing-small);
  }

  .title {
    margin: 0;
    color: var(--color-text-header);
    word-break: break-word;
    font-weight: 700;
  }
</style>
