---
import { getCollection } from "astro:content";
import type { BaseBlockComponentProps } from "../../blocks/types";
import ProjectsItem from "./ProjectsItem.astro";

export interface Props extends BaseBlockComponentProps {
  status: string;
}

const { block, status } = Astro.props;

const entries = await getCollection(
  "projects",
  (entry) => entry.data.properties.Status?.name === status,
);
---

<div data-block={block.id} class="projects-collection">
  {
    entries.map((entry) => (
      <ProjectsItem
        data={entry.data}
        widths={[250, 360, 540]}
        sizes="(min-width: 600px) 540px, 100vw"
        showImage
        showTitle
        showGitHub
        showChildren
      />
    ))
  }
</div>

<style>
  .projects-collection {
    display: grid;
    gap: var(--spacing);
    --num-tracks: 1;
    grid-template-columns: repeat(var(--num-tracks), 1fr);
  }

  @media (min-width: 900px) {
    .projects-collection {
      --num-tracks: 2;
    }
  }

  /* @media (min-width: 900px) {
    .projects-collection {
      --num-tracks: 3;
    }
  } */
</style>
