---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import ExternalImage from "../../Images/ExternalImage.astro";
import type { ImageRequiredProps } from "../../Images/Picture.astro";

export interface Props extends ImageRequiredProps {
  id: string;
  icon: NonNullable<DatabaseObjectResponse["icon"]>;
}

const { id, icon, ...rest } = Astro.props;

let url: string | undefined;
switch (icon.type) {
  case "external":
    url = icon.external.url;
    break;
  case "file":
    url = icon.file.url;
    break;
  default:
    url = undefined;
}
---

{
  url ? (
    <ExternalImage {...rest} id={id} src={url} />
  ) : (
    <span class:list={[rest.class, "emoji-icon"]} {...rest}>
      {(icon as any).emoji}
    </span>
  )
}

<style>
  .emoji-icon {
    text-decoration: none;
    font-size: 3em;
  }
</style>
