---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import ExternalImage from "../../ExternalImage/ExternalImage.astro";

export interface Props {
  id: string;
  icon: NonNullable<DatabaseObjectResponse["icon"]>;
  class?: string;
}

const { id, class: className, icon, ...rest } = Astro.props;

const GENERATE_ICON_WIDTHS = [256, 128, 96, 64, 32];

let url: string | undefined;
switch (icon.type) {
  case "external":
    url = icon.external.url;
    break;
  case "file":
    url = icon.file.url;
    break;
  default:
    url = undefined;
}
---

{
  url ? (
    <ExternalImage
      {...rest}
      id={id}
      src={url}
      alt=""
      widths={GENERATE_ICON_WIDTHS}
      class={className}
    />
  ) : (
    <span class:list={[className, "emoji-icon"]} {...rest}>
      {(icon as any).emoji}
    </span>
  )
}

<style>
  .emoji-icon {
    text-decoration: none;
    font-size: 3em;
  }
</style>
