:root {
  --sticker-size: calc(var(--spacing) * 3);
}

@media (min-width: 900px) {
  :root {
    --sticker-size: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1200px) {
  :root {
    --sticker-size: calc(var(--spacing) * 5);
  }
}

.stickerCanActivate {
  cursor: pointer;
}
