---
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  pageTitle: string;
  content: string;
}

const { pageTitle, content } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <title>{pageTitle}</title>
    <slot name="head" />
  </Fragment>

  <pre>
{content}
  </pre>

  <style>
    pre {
      text-wrap: auto;
    }
  </style>

  <slot name="tail" />
</MinimalLayout>
