---
import type { DatabaseObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import PageFooter from "../components/PageFooter.astro";
import PageHeader from "../components/PageHeader.astro";
import BlogPageFooter from "../components/notion/BlogPageFooter.astro";
import BlogPageHeader from "../components/notion/BlogPageHeader.astro";
import MinimalLayout from "./MinimalLayout.astro";
import { getUrlSlugForPage, richTextToUnformattedString } from "../lib/notion";

export interface Props {
  page: DatabaseObjectResponse;
}

const { page } = Astro.props;

const pageSlug = getUrlSlugForPage(page);
const pageTitle = richTextToUnformattedString(
  (page.properties.Name as any).title,
);
---

<MinimalLayout>
  <PageHeader
    navItems={[
      { name: "Blog", url: "/blog" },
      { name: "Projects", url: "/projects" },
    ]}
    breadcrumbs={[
      { name: "Home", url: "/" },
      { name: "Blog", url: "/blog" },
      { name: pageTitle, url: `/blog/${pageSlug}` },
    ]}
  />
  <BlogPageHeader page={page} />
  <main>
    <slot />
  </main>
  <BlogPageFooter page={page} />
  <PageFooter />
</MinimalLayout>
