---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader, { type LinkInfo } from "../components/SiteHeader.astro";
import MinimalLayout from "./MinimalLayout.astro";
import { StickerApp } from "../components/react/StickerBook";
import "../css/index.css";

export interface Props {
  meta: PageMetaType;
  breadcrumbs?: LinkInfo[];
}

const { meta, breadcrumbs } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
  </Fragment>

  <slot name="site-header">
    <SiteHeader
      navItems={[
        { name: "Blog", url: "/blog" },
        { name: "Projects", url: "/projects" },
      ]}
      breadcrumbs={breadcrumbs}
    />
  </slot>
  <slot name="page-header" />
  <StickerApp id="temp" client:idle />

  <main>
    <slot />
  </main>

  <slot name="page-footer" />
  <slot name="site-footer">
    <SiteFooter />
  </slot>
</MinimalLayout>
