---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { StickerApp } from "../components/react/StickerBook";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  enableExperiments: boolean;
  meta: PageMetaType;
}

const { enableExperiments, meta } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <main>
    <slot />
  </main>

  <slot name="site-footer" />

  {
    enableExperiments && (
      <>
        <StickerApp id="temp" client:idle client:only="react" />
      </>
    )
  }
</MinimalLayout>
