---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { LazyLoader } from "../components/react/LazyLoader.tsx";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  id: string;
  meta: PageMetaType;
  class?: string;
}

const { id, meta, class: className } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <main class={className}>
    <slot />
  </main>

  <slot name="site-footer" />

  <LazyLoader type="sticker-app" props={{ pageId: id }} client:stickers={id} />
</MinimalLayout>
