---
import { Settings2Icon } from "lucide-react";
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { LazyLoader } from "../components/react/LazyLoader.tsx";
import SettingsInitialLoader from "../components/site/SettingsInitialLoader.astro";
import SettingsPanel from "../components/site/SettingsPanelContent.astro";
import SidePanel from "../components/site/SidePanel.astro";
import Web3IsAScam from "../components/site/Web3IsAScam.astro";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  id: string;
  meta: PageMetaType;
  class?: string;
  noStickers?: boolean;
}

const { id, meta, class: className, noStickers } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
    <Web3IsAScam />
    <SettingsInitialLoader />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <div class="sidebar-layout big-box-margin">
    <main class={className}>
      <slot />
    </main>

    <slot name="site-sidebar" />
  </div>

  <slot name="page-footer" />
  <slot name="site-footer" />

  {
    !noStickers && (
      <LazyLoader
        type="sticker-app"
        props={{ pageId: id }}
        client:stickers={id}
      />
    )
  }

  <SidePanel label="Preferences" id="preferences">
    <Settings2Icon slot="handle" />
    <SettingsPanel />
  </SidePanel>
</MinimalLayout>
