---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { LazyLoader } from "../components/react/LazyLoader.tsx";
import Web3IsAScam from "../components/site/Web3IsAScam.astro";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  id: string;
  meta: PageMetaType;
  class?: string;
  noStickers?: boolean;
}

const { id, meta, class: className, noStickers } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
    <Web3IsAScam />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <main class={className}>
    <slot />
  </main>

  <slot name="site-footer" />

  {
    !noStickers && (
      <LazyLoader
        type="sticker-app"
        props={{ pageId: id }}
        client:stickers={id}
      />
    )
  }
</MinimalLayout>
