---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { StickerBook } from "../components/react/StickerBook/index.tsx";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

export interface Props {
  id: string;
  enableExperiments: boolean;
  meta: PageMetaType;
}

const { id, enableExperiments, meta } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <main>
    <slot />
  </main>

  <slot name="site-footer" />

  {
    enableExperiments && (
      <>
        <StickerBook pageId={id} client:idle client:only="react" />
      </>
    )
  }
</MinimalLayout>
