---
import PageMeta, { type PageMetaType } from "../components/PageMeta.astro";
import { StickerDragZones } from "../components/react/StickerBook/components/StickerDragZones/index.tsx";
import "../components/react/StickerBook/index.css";
import "../css/index.css";
import MinimalLayout from "./MinimalLayout.astro";

import "@fontsource-variable/jost/index.css";
import "@fontsource/jost/index.css";
import "inter-ui/inter-variable.css";
import "inter-ui/inter.css";

export interface Props {
  id: string;
  meta: PageMetaType;
  class?: string;
}

const { id, meta, class: className } = Astro.props;
---

<MinimalLayout>
  <Fragment slot="head">
    <PageMeta meta={meta} />
    <slot name="head" />
  </Fragment>

  <slot name="skip-links" />

  <slot name="site-header" />

  <main class={className}>
    <slot />
  </main>

  <slot name="site-footer" />

  <StickerDragZones pageId={id} client:idle client:only="react" />
</MinimalLayout>
