---
import PageLayout, { type Props as PageLayoutProps } from "./PageLayout.astro";

export interface Props extends PageLayoutProps {}

const { id, meta, class: className, noStickers } = Astro.props;
---

<PageLayout id={id} meta={meta} class={className} noStickers={noStickers}>
  <div class="big-box standalone-page">
    <slot />
  </div>
</PageLayout>

<style>
  .standalone-page {
    flex-grow: 1;
    margin: var(--big-box-spacing);
    display: flex;
    flex-direction: column;
  }
</style>
