---
import PageLayout, { type Props as PageLayoutProps } from "./PageLayout.astro";

export interface Props extends PageLayoutProps {}

const { id, meta, stickers } = Astro.props;
---

<PageLayout id={id} meta={meta} stickers={stickers}>
  <div class="standalone-page big-box-border">
    <slot />
  </div>
</PageLayout>

<style>
  .standalone-page {
    position: relative;
    flex-grow: 1;
    margin: var(--big-box-spacing);
    display: flex;
    flex-direction: column;
    margin: var(--big-box-spacing-small);
    padding: var(--big-box-spacing-small);
  }

  @media (min-width: 600px) {
    .standalone-page {
      margin: var(--big-box-spacing-small) var(--big-box-spacing);
      padding: var(--big-box-spacing-small) var(--big-box-spacing);
    }
  }
</style>
