---
import { GithubIcon, LinkedinIcon, MailIcon } from "lucide-react";
---

<ul class="links-list">
  <li class="link-item">
    <a
      class="link"
      href="https://github.com/s-thom"
      aria-label="GitHub"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      <GithubIcon width={32} />
    </a>
  </li>
  <li class="link-item">
    <a
      class="link"
      href="mailto:me@sthom.kiwi"
      aria-label="Email"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      <MailIcon width={32} />
    </a>
  </li>
  <li class="link-item">
    <a
      class="link"
      href="https://www.linkedin.com/in/s-thom/"
      aria-label="LinkedIn"
      rel="nofollow noopener noreferrer"
      target="_blank"
    >
      <LinkedinIcon width={32} />
    </a>
  </li>
</ul>
