---
import { StickerFrame } from "../../../react/StickerBook/components/StickerFrame/index.tsx";
---

<div class="grid">
  <StickerFrame type="thumbs-up" showRarityLabel>
    <div class="description">Found by reading pages on this site.</div>
  </StickerFrame>
  <StickerFrame type="fire" showRarityLabel>
    <div class="description">
      Also found by reading pages on this site, but you won't get as many.
    </div>
  </StickerFrame>
  <StickerFrame type="rocket" showRarityLabel>
    <div class="description">
      Unused at the moment, but I know where I want to use them.
    </div>
  </StickerFrame>
  <StickerFrame type="rainbow" showRarityLabel>
    <div class="description">
      Unused at the moment, but I wanted to complete the set of colours.
    </div>
  </StickerFrame>
  <StickerFrame type="goose" showRarityLabel>
    <div class="description">
      Given by doing certain actions on the site. Each will only be given once.
    </div>
  </StickerFrame>
</div>
