---

---

<ul class="rarity-list">
  <li>
    <span class="rarity rarity-common">Common</span>: Found by reading pages on
    this site.
  </li>
  <li>
    <span class="rarity rarity-uncommon">Uncommon</span>: Also found by reading
    pages on this site, but you won't get as many.
  </li>
  <li>
    <span class="rarity rarity-rare">Rare</span>: Found by reading specific
    pages. Usually thematically relevant to the page. (Coming soon)
  </li>
  <li>
    <span class="rarity rarity-legendary">Legendary</span>: Unused at the
    moment, but I wanted to complete the set of colours.
  </li>
  <li>
    <span class="rarity rarity-unique">Unique</span>: Given by doing certain
    actions on the site. Each will only be given once.
  </li>
</ul>

<style>
  .rarity-list {
    list-style: circle;
    padding-inline-start: 1em;
  }

  .rarity-common {
    color: var(--color-sticker-common);
  }
  .rarity-uncommon {
    color: var(--color-sticker-uncommon);
  }
  .rarity-rare {
    color: var(--color-sticker-rare);
  }
  .rarity-legendary {
    color: var(--color-sticker-legendary);
  }
  .rarity-unique {
    color: var(--color-sticker-unique);
  }
</style>
