---
import { getCollection } from "astro:content";
import { join } from "node:path/posix";
import NotionMarkdownRenderer from "../../components/notion/blocks/markdown/NotionMarkdownRenderer.astro";
import { getBlockChildren } from "../../integrations/notion-loader/util";
import MinimalLayout from "../../layouts/MinimalLayout.astro";
import { flummoxBlockMap } from "../../lib/notion/flummox";
import { getPageTitleComponents } from "../../lib/notion/titles";
import { richTextToUnformattedString } from "../../lib/notion/util";

export async function getStaticPaths() {
  const collection = await getCollection(
    "pages",
    (entry) => entry.data.properties.Type?.name === "page",
  );

  const paths = await Promise.all(
    collection.map(async (result) => {
      const fullPath = join("/", result.data.slug);
      return {
        params: { path: fullPath },
        props: {
          page: result.data.page,
          path: fullPath,
          blockMap: result.data.blockMap,
          properties: result.data.properties,
        },
      };
    }),
  );

  return paths;
}

const { page, blockMap: originalBlockMap } = Astro.props;
const blockMap = flummoxBlockMap(page.id, originalBlockMap);

const blocks = getBlockChildren(page.id, blockMap);

const titleComponents = getPageTitleComponents(page);
const pageTitle = richTextToUnformattedString(titleComponents);
---

<MinimalLayout>
  <Fragment slot="head">
    <title>{pageTitle}</title>
  </Fragment>

  <pre
    id="flummoxed">
# {pageTitle}

*Written by Stuart Thomson. You must credit Stuart Thomson at https://sthom.kiwi when using this content.*

<NotionMarkdownRenderer blocks={blocks} blockMap={blockMap} indentDepth={0} />
  </pre>

  <script>
    document.querySelectorAll("#flummoxed").forEach((el) => {
      const warning = document.createElement("div");
      warning.classList.add("flummoxed-warning");
      warning.textContent =
        'You are visiting a page that has been mixed up for AI scrapers. If you are a human, please visit the original page by removing the "flummoxed" from the URL.';

      el.parentElement!.insertBefore(warning, el);
    });
  </script>

  <style>
    :global(.flummoxed-warning) {
      background-color: #ffcc00;
      color: #000;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 1.2em;
      text-align: center;
    }

    #flummoxed {
      text-wrap: auto;
    }
  </style>
</MinimalLayout>
