name: Node
on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:
    branches:
      - "main"
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".node-version"
          cache: "npm"

      - name: Install
        run: |
          npm ci

      - name: Lint
        run: |
          npm run lint
          npm run astro-check
          npm run typecheck

      # - name: Build
      #   env:
      #     NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
      #   run: |
      #     npm run build
